<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.tempdao.WeiboInfoDao">
    <resultMap id="BaseResultMap" type="com.zc.tempbean.WeiboInfo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="topic_id" jdbcType="INTEGER" property="topicid" />
        <result column="weibo_url" jdbcType="VARCHAR" property="weiboUrl" />
        <result column="read_num" jdbcType="VARCHAR" property="readNum" />
        <result column="weibo_content_cleansed" jdbcType="VARCHAR"
            property="weiboContent" />
    </resultMap>
    <sql id="uniqueQuery">id =#{id,jdbcType=INTEGER}</sql>
    <sql id="tableName">Weibo</sql>
    <sql id="Base_Column_List">
        id,topic_id,weibo_url,read_num,weibo_content_cleansed
    </sql>
    <sql id="checkColumnNull">
        <if test="id != null">
            id,
        </if>
        <if test="topicid != null">
            topic_id,
        </if>
        <if test="weiboUrl != null">
            weibo_url
        </if>
        <if test="readNum != null">
            read_num,
        </if>
        <if test="weiboContent != null">
            weibo_content_cleansed
        </if>
    </sql>
    <sql id="checkPropertyNull">
        <if test="id != null">
            #{id,jdbcType=INTEGER},
        </if>
        <if test="topicid != null">
            #{topicid,jdbcType=INTEGER},
        </if>
        <if test="weibo_url != null">
            #{weibo_url,jdbcType=VARCHAR}
        </if>
        <if test="read_num != null">
            #{read_num,jdbcType=VARCHAR}
        </if>
        <if test="weibo_content_cleansed != null">
            #{weibo_content_cleansed,jdbcType=VARCHAR}
        </if>
    </sql>
    <select id="getItemCount" resultType="java.lang.Integer">
        select count(1) from
        <include refid="tableName"></include>
    </select>
    <select id="getList" resultMap="BaseResultMap">
        Select * from
        <include refid="tableName"></include>
        order by id
        offset(#{pageSize,jdbcType=INTEGER}*(#{currentPage,jdbcType=INTEGER}-1))
        row
        fetch next #{pageSize,jdbcType=INTEGER} rows only
    </select>

</mapper>