@charset "utf-8";
.calendar {
    width: 280px;
    height: 330px;
}
.calendar-modal {
    display: none;
    position: absolute;
    background: #fdfdfd;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 2px 3px #ddd
}
.calendar-inner {
    position: relative;
    z-index: 1;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}
.calendar-views {
    transform-style: preserve-3d;
}
.calendar .view {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    *overflow: hidden;
    -webkit-transition: .6s;
    transition: .6s;
}
.calendar-d .view-month,
.calendar-m .view-date {
    transform: rotateY(180deg);
    visibility: hidden;
    z-index: 1;
}
.calendar-d .view-date,
.calendar-m .view-month {
    transform: rotateY(0deg);
    visibility: visible;
    z-index: 2;
}
.calendar-ct,
.calendar-hd,
.calendar-views .week,
.calendar-views .days {
    overflow: hidden;
    color:#000;
    font-size:12px;
    background:#e8ebed;
}
.calendar-views {
    width: 100%;
}
.calendar .view,
.calendar-arrow-left,
.calendar .date-items li {
    float: left;
}
.calendar-arrow-right{
    float: right;
}
.calendar-hd {
    padding: 0px 32px;
    height: 56px;
    line-height: 56px;
    background:#e8ebed;
    text-align: center;
}
.calendar-display {
    font-size: 28px;
    text-indent: 10px;
}

.calendar-arrow,
.calendar-display {
    color: #000;
    font-size:14px;
}
.calendar li[disabled] {
    color: #bbb;
}
.calendar li.old[disabled],
.calendar li.new[disabled] {
    color: #eee;
}
.calendar-views .week,
.calendar-views .days .old,
.calendar-views .days .new,
.calendar-display:hover,
.calendar-arrow span:hover {
    color: #bbb;
    font-size:14px;
}

.calendar-arrow span,
.calendar-views .days li,
.calendar-views .view-month li {
    cursor: pointer;
}
.calendar-views .days li a{
    display:block;
    width:28px;
    height:28px;
    margin-left:1.5px;
    border-radius:50%;
    line-height:28px;
    font-size:16px;
}
.calendar-views .view-month li a{
    display:block;
    width:24px;
    height:24px;
    margin-top:13px;
    margin-left:15.5px;
    border-radius:50%;
    line-height:24px;
}
 
.calendar li[disabled] {
    cursor: not-allowed;
}

.calendar-arrow span {
    font: 500 16px sans-serif;
    font-weight: bold;
}

.calendar ol li {
    position: relative;
    float: left;
    text-align: center;
}
.calendar .week li,
.calendar .days li {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.calendar .days li {
    margin-bottom:14px;
}
.calendar .month-items li {
    width: 70px;
    height: 70px;
    line-height: 70px;
}
.calendar .calendar-views .now {
    background: #e8ebed!important;  
}
.calendar .calendar-views .selected {
    color: #fff!important;
    background: #01c9d6!important; 
}
.calendar .calendar-views .dot {
    position: absolute;
    left: 50%;
    bottom: 4px;
    margin-left: -2px; 
    width: 4px;
    height: 4px;
    /*background: #66be8c;*/
    border-radius: 50%;
}
.calendar-views .now .dot {
    background: #fff;
}

.calendar .date-items {
    width: 300%;
    margin-left: -100%;
}

.calendar-label {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    padding: 5px 10px;
    line-height: 22px;
    color: #fff;
    background: #000;
    border-radius: 3px;
    opacity: .7;
    filter: alpha(opacity=70);
}
.calendar-label i {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -12px;
    width: 0;
    height: 0;
    margin-left: -3px;
    border: 6px solid transparent;
    border-top-color: #000;
}

.calendar .calendar-views .markDate {
    border-bottom:1px solid #01c9d6;
}
.calendar .calendar-views .markDate a{
    color:#01c9d6;
}