/*热点详细信息。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。*/
@CHARSET "UTF-8";
em,i,b{font-style:normal!important;font-weight:500!important;}
.allHot{
	border-radius:2px;
	position:absolute;
	width:124px;
	height:34px;
	font-size:16px;
	line-height:32px;
	color:#eee;
	text-align:center;
	left:50%;
	transform:translate(-50%);
	border:1px solid #389b9f;
	transition:all .3s;
}
.allHot:hover{
	border-radius:17px;
}
.all_hot{position:relative;padding-left:48px;padding-right:48px;width:100%;
 filter:alpha(opacity=0);-moz-opacity:0;opacity:0;
/*  margin-top:100px; */
}
.all_hot_section{background:#fff;width:100%;}

.comeback_hot{border-radius:2px;bottom:24px;right:48px;width:26px;background:rgba(0,0,0,.5);color:#fff;width:40px;height:40px;font-size:14px;text-align:center;line-height: 16px;
    padding-top: 4px;z-index:9;}
.comeback_hot:hover{background:rgba(0,0,0,.6);}
#comeback_hot_home{width:40px;height:40px;border-radius:2px;background:rgba(0,0,0,.5);bottom:68px;right:48px;z-index:9;}

#comeback_hot_home span{    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
    transform: rorate(90deg);
    margin-top: 17px;
    margin-left: 10px;}
#comeback_hot_home:hover{background:rgba(0,0,0,.6);}
.hot_ifo_title{height:40px;line-height:40px;background:#389b9f;padding-left:30px;color:#fff;}
.hot_ifo_title_img{width:20px;height:13px;background:url(../img/hot_ifo_title.png) no-repeat;margin-top:13px;margin-right:30px;}
.all_hot_bar{  padding-left:30px;height:40px;line-height:40px;font-size:14px;color:#4a4a4a;background:#e8ebed;}
.all_hot_bar_scroll{box-shadow: 0px 0px 18px rgba(0,0,0,.3);-o-box-shadow: 0px 0px 18px rgba(0,0,0,.3);-ms-box-shadow: 0px 0px 18px rgba(0,0,0,.3);-webkit-box-shadow: 0px 0px 18px rgba(0,0,0,.3);
	z-index:10;position:fixed;top:0;width: -webkit-calc(100% - 96px);  width: -ms-calc(100% - 96px);width: -moz-calc(100% - 96px); width:-o- calc(100% - 96px);   width: calc(100% - 96px);min-width:1104px;}
.all_hot_bar li{float:left;}
.all_hot_bar li:nth-child(1){
	width:28px;text-align:center;margin-right:22px;
}

.all_hot_bar li:nth-child(2){
	width:40%;
}
.all_hot_bar li:nth-child(3){
	width:5%;
}
.all_hot_bar li:nth-child(4){
	width:15%;margin-left:30px;
}
.all_hot_bar li:nth-child(5){
	width:30%;
}
.all_hot_bar li:nth-child(6){
	width:15%;text-align:center;
}

.all_hot_list_top{height:60px;line-height:60px;background:#fff;padding-left:30px;border-bottom:1px solid #eee;}
.all_hot_list_top >li{float:left;} 
.all_hot_list_top li:nth-child(1){
	width:28px;margin-right:22px;font-size:18px;
}
.all_hot_list_top li:nth-child(2){
	width:40%;
}
.all_hot_list_top li:nth-child(3){
	width:5%;
	color: #ed5e20;
    font-size: 24px;
    height:100%;
}
/* .all_hot_list_top li:nth-child(3) .hot_img_arrow{
	background:url(../img/hot_arrow_down.png) no-repeat center center;width: 20px;
    height: 16px;
    display: inline-block;
    transform: rotate(0deg);
    -ms-transform:rotate(0deg); 	IE 9
	-moz-transform:rotate(0deg); 	Firefox
	-webkit-transform:rotate(0deg); Safari 和 Chrome
	-o-transform:rotate(0deg);
} */
.all_hot_list_top li:nth-child(4){
	width:15%;text-align:center;color:#ed5e20;font-size:24px;margin-left:30px;margin-top:20px;
}
.all_hot_list_top li:nth-child(5){
	width:10%;cursor:pointer;font-size:14px;
}
.all_hot_list_top li:nth-child(6){
	width:10%;text-align:center;cursor: pointer;font-size:14px;
}
.all_hot_list_top li:nth-child(7){
	width:10%;text-align:center;
}
.all_hot_list_top li:nth-child(7) span{
	padding:3px 8px;background:#399b9f;color:#fff;border-radius:14px;
}

.all_hot_list_top li:nth-child(5) .hot_img_arrow{
	background:url(../img/hot_arrow_down.png) no-repeat center center;width: 20px;
    height: 10px;
    display: inline-block;
    transform: rotate(0deg);
    -ms-transform:rotate(0deg); 	/* IE 9 */
	-moz-transform:rotate(0deg); 	/* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg);
}
.all_hot_list_top li:nth-child(5) .hot_look_detail{
	position:relative;
	top:2px;
	background:url(../img/card-detail.png) no-repeat center center;width: 20px;
    height: 14px;
    display: inline-block;
}

.all_hot_list_top li:nth-child(6) .hot_look_arrow{
	background:url(../img/hot_arrow_down.png) no-repeat center center;width: 20px;
    height: 10px;
    display: inline-block;
    transform: rotate(0deg);
    -ms-transform:rotate(0deg); 	/* IE 9 */
	-moz-transform:rotate(0deg); 	/* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg);
}
.all_hot_list_top li:nth-child(6) .hot_look_eye{
	position:relative;
	top:2px;
	background:url(../img/card-chart.png) no-repeat center center;width: 20px;
    height: 14px;
    display: inline-block;
}

/* 相似热点    */
.hot_near_list{background:#eff4f5;margin-left:30px;margin-right:40px;padding-top:15px;border-top:1px solid #dee1e3;}
.hot_near_list .hot_near_list_head{height:33px;line-height:18px;color:#4a4a4a;padding-bottom:15px;}
.hot_near_list .hot_near_list_head .hot_near_refresh{cursor:pointer;}
.hot_near_list .hot_near_list_head .hot_near_refresh:hover{color:rgb(56, 155, 159);}
.hot_near_list .hot_near_con{padding-bottom:15px;overflow:hidden;display:none;}
.hot_near_list .hot_near_con .hot_near_pnl{
    max-width:428px;
    width: -o-calc((100% - 20px)/3);
    width: calc-moz-((100% - 20px)/3);
    width: calc-ms-((100% - 20px)/3);
    width: -webkit-calc((100% - 20px)/3);
    width: calc((100% - 20px)/3);
    height:136px;
    margin-right:10px;
    box-sizing: border-box;
    background-color:#fff;
    border-radius: 2px;
    display:inline-block;
    float:left;
    padding:12px;
}
.hot_near_list .hot_near_con .hot_near_pnl:last-child{margin-right:0px;}
.hot_near_list .hot_near_con .hot_near_pnl .near_portrait{
    float:left;
    width:46px;
    height:46px;
    background-size:100%;
    background-position:center;
    margin-right: 10px;
    padding: 0;
    margin-top:2px;
}
.hot_near_list .hot_near_con .hot_near_pnl .near_topRight{
	float:left;
    width: -o-calc(100% - 56px);
    width: calc-moz-(100% - 56px);
    width: calc-ms-(100% - 56px);
    width: -webkit-calc(100% - 56px);
    width: calc(100% - 56px);
    height:48px;
}
.hot_near_list .hot_near_con .hot_near_pnl .near_info{
    width: 100%;
    height:48px;
}
.hot_near_list .hot_near_con .hot_near_pnl .near_infoTop{
    width:100%;
    height:22px;
}
.hot_near_list .hot_near_con .hot_near_pnl .near_infoTitle{
    float:left;
    display: inline-block;
    width: -o-calc(100% - 80px);
    width: calc-moz-(100% - 80px);
    width: calc-ms-(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    height:22px;
    line-height: 22px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hot_near_list .hot_near_con .hot_near_pnl .near_infoConnect{
    float: right;
    display: inline-block;
    width: 80px;
    height: 22px;
    line-height: 12px;
    font-size: 12px;
    margin:0;
    padding:5px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 11px;
    border:1px solid #389b9f ;
    color:#389b9f;
    cursor:pointer;
}
.hot_near_list .hot_near_con .hot_near_pnl .near_hotLabel{
    margin-top:6px;
    font-size: 12px;
    color:#4a4a4a;
    display: inline-block;
    width: 100%;
    height:20px;
    line-height:20px;
    overflow:hidden;
}
.hot_near_list .hot_near_con .hot_near_pnl .near_hotLabel div{
    background:#e8ebed;
    padding:0 8px;
    float:left;
    margin-right:6px;
    max-width:91px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    border-radius:2px;
}

.hot_near_list .hot_near_con .hot_near_pnl .near_hotInfo{
    margin-top:8px;
    font-size: 12px;
    width: 100%;
    height:32px;
    overflow: hidden;
}
.hot_near_list .hot_near_con .hot_near_pnl .near_infoText{
    overflow: hidden;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 17px;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-all;
}
.hot_near_list .hot_near_con .hot_near_pnl .near_infoBottom{
    display: inline-block;    
    width:100%;
    height:16px;
    line-height:16px;
    margin-top:8px;
}
.hot_near_list .hot_near_con .hot_near_pnl .near_hotIcon{
    height:100%;
    width:12px;
    background:url(../img/hotIcon.png) no-repeat center;
    margin-right:5px;
}
.hot_near_list .hot_near_con .hot_near_pnl .near_hotValue{
    font-size: 14px;
    line-height:16px;
    font-weight:bold;
}
.font14{
    font-size: 14px;
}
.hot_near_list .hot_near_con .hot_near_pnl .near_iconCon a{
    width:16px;
    height:16px;
    background-position:center;
    background-repeat:no-repeat;
    margin-left:5px;
    display:inline-block;
    float:left;
}

/* echart */
.hot_echart_list{position:relative;min-height:300px;background:#EEF3F4;color:#fff;padding:10px 20px;/*text-align:center*/}

.hot_echart_list:before{
	position:absolute;
	top:-10px; 
	left:calc(74% + 91px); 
	width:0px;	 
	height:0px; 
	border-left:10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #eff4f5; 
	content:""; 
}
.hot_relation{cursor:pointer;font-size:14px;}
.hot_relation:hover{color:#389b9f;}
.all_hot_top_topic div,.all_hot_top_topic p{float:left;}
.all_hot_top_topic p{
	color:#4a4a4a;
	font-size:18px;
	margin-right:30px;
	max-width:162px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.hot_circle_num{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 50%;
    background: #389b9f;
    font-family:"SimHei";
    color:#fff;
}
.all_hot_top_topic div{
	margin-right:6px;margin-top:20px;line-height:20px;padding:0 5px;
	background:#ccc;height:20px;font-size:12px;color:#4a4a4a;max-width:82px;text-overflow: ellipsis;
    overflow: hidden;
    border-radius:2px;
    white-space: nowrap;
}
.all_hot_list_top_source1 div{float:left;margin-right:6px;}
/*.all_hot_list_top_source div:nth-child(1){
	background:url(../img/hot_weixin.png) no-repeat;width:18px;height:18px;
}
.all_hot_list_top_source div:nth-child(2){
	background:url(../img/hot_weibo.png) no-repeat;width:18px;height:18px;
}
.all_hot_list_top_source div:nth-child(3){
	background:url(../img/hot_zhihu.png) no-repeat;width:18px;height:18px;
}
.all_hot_list_top_source div:nth-child(4){
	background:url(../img/hot_baidu.png) no-repeat;width:18px;height:18px;
}*/
.weixinIcon{
	background:url(../img/hot_weixin.png) no-repeat;width:18px;height:18px;
}
.weiboIcon{
	background:url(../img/hot_weibo.png) no-repeat;width:18px;height:18px;
}
.zhihuIcon{
	background:url(../img/hot_zhihu.png) no-repeat;width:18px;height:18px;
}
.baiduinIcon{
	background:url(../img/hot_baidu.png) no-repeat;width:18px;height:18px;
}
.logoImageCon{
	width:60px;
	height:60px;
	background:#fff;
	margin-top:12px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}
/*热点详情*/
.all_hot_list_bot{
	position:relative;background:#eff4f5;
}
.all_hot_list_bot:before{
	position:absolute;
	top:-10px;
	left:calc(68% + 31px);
	width:0px;
	height:0px;
	border-left:10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #eff4f5;
	content:"";
}
.all_hot_list_bot li.li-first{
	height:84px;
	
}
.all_hot_list_bot li.li-first .type-img{
	width:60px;
	height:100%;
	margin-right:23px;
}
.all_hot_list_bot li.li-first .type-content{
	margin-top:12px;
}
.all_hot_list_bot li.li-first .content-article{
	font-size:18px;
	color:#4a4a4a;
}
.all_hot_list_bot li.li-first .content-sum{
	font-size:14px;
    color:#4a4a4a;
    margin-left:30px;
}
.all_hot_list_bot li.li-first .content-desc{
	font-size:14px;
    color:#999;
    line-height:14px;
    margin-top:8px;
    height:34px;
    overflow: hidden;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 17px;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-all;
    width:550px;
}
.all_hot_list_bot li{
	height:42px;
	line-height:42px;
	background:#eff4f5;
	margin:0 32px;
	font-size:14px;
	border-bottom:1px solid #dee1e3;
}
.all_hot_list_bot li:last-child{
	border-bottom:0px;
}
.all_hot_list_bot li .type-icon{
	width:18px;
	height:100%;
	background-image:url(../img/hot_weixin.png);
	background-repeat:no-repeat;
	background-position:center;
	margin-right:8px;
}
.all_hot_list_bot li .type-title{margin-right:27px;}
.all_hot_list_bot li .weixin-color{color:#999;}
.all_hot_list_bot li .weixin-color:hover{color:#0fce1a;}
.all_hot_list_bot li .weibo-color{color:#999;}
.all_hot_list_bot li .baidu-color{color:#999;}
.all_hot_list_bot li .zhihu-color{color:#999;}
.all_hot_list_bot li .weibo-color:hover{color:#e22328;}
.all_hot_list_bot li .baidu-color:hover{color:#2000e0;}
.all_hot_list_bot li .zhihu-color:hover{color:#0084ef;}
.all_hot_list_bot li .type-article{margin-right:30px;width:calc(100% - 440px);width:-webkit-calc(100% - 440px);width:-moz-calc(100% - 440px);width:-o-calc(100% - 440px);width:-ms-calc(100% - 440px);}

.notify-close{
	cursor:pointer
}
.borderShadow{
	transition: 0.5s;
}
.borderShadow::before, .borderShadow::after {
  width: 88px;
  height:38px;
  display:inline-block;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  right:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}
#ser_btn_high::before {
  border-bottom: 1px solid #389b9f;
  border-left: 1px solid #389b9f;
  -webkit-transform-origin: 0 100%;
  border-radius:2px;
}
#ser_btn_high::after {
  border-top: 1px solid #389b9f;
  border-right: 1px solid #389b9f;
  -webkit-transform-origin: 100% 0%;
  border-radius:2px;
}
.borderShadow:hover::after, .borderShadow:hover::before {
  -webkit-transform: scale(1);
}
.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);    
    filter: grayscale(100%);	
    filter: gray;
}
.Personas{
	margin:0 0.5% 0 0
}
.type-article{color:#999;}
.type-article a {
	text-decoration: underline;
    font-size: 14px;
}
.type-num {color:#999;float:right;}
.type-num  b{
	color:#000;
	font-size:14px;
}
.bot_left{width:calc(100% - 390px); }
.bot_right {
	width:350px;
	height: 228px;
    background: #fff;
    margin-right: 40px;
    margin-top: 12px;
    margin-bottom: 12px;}
    
    /*
    新受众画像
    */
.newPicCon{
    width:100%;
    height:520px;
    display:none;
}
.chartsLeftCon{
	display:inline-block;
	width:51%;
	height:100%;
}
.leftTopCon{
	display:inline-block;
	width:100%;
	height:39%;
}
.leftBottomCon{
	position:relative;
	display:inline-block;
	width:100%;
	height:59%;
	margin-top:1.1%;
}
.sexCon{
	position:relative;
	display:inline-block;
	width:31%;
	height:100%;
	margin-right:2%;
	background-color:#fff;
	border-radius:2px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3)
}
.sexCon:hover{
	box-shadow: 1px 1px 3px #333;
}
.ageCon{
	position:relative;
	display:inline-block;
	width:67%;
	height:100%;
	background-color:#fff;
	border-radius:2px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3)
}
.ageCon:hover{
	box-shadow: 1px 1px 3px #333;
}
.eduCon{
	position:relative;
	display:inline-block;
	width:31%;
	height:100%;
	margin-right:2%;
	background-color:#fff;
	border-radius:2px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3)
}
.eduCon:hover{
	box-shadow: 1px 1px 3px #333;
}
.areaCon{
	position:relative;
	display:inline-block;
	width:67%;
	height:100%;
	background-color:#fff;
	border-radius:2px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3)
}
.areaCon:hover{
	box-shadow: 1px 1px 3px #333;
}
.chartsRightCon{
	position:relative;
	display:inline-block;
	height:100%;
	width:48%;
	margin-left:1%;
	padding-left:1%;
	background-color:#fff;
	border-radius:2px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3)
}
.chartsRightCon:hover{
	box-shadow: 1px 1px 3px #333;
}
.areaTGICon{
	position:absolute;
	width: 67%;
	height: 100%;
	right: 0;
	top: 0;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
	background-color:#fff;
}
.areaTGICon:hover{
	box-shadow: 1px 1px 3px #333;
}
.tgiSwitch{
	position:absolute;
	display:inline-block;
	width:46px;	
	font-size:12px;
	right:10px;
	bottom:15px;
}
.defBtn{
    height:24px;
    line-height:24px;
    color:#ccc;
    text-align:center;
    border:1px solid #ccc;
    cursor:pointer;
    border-radius:3px;
}
.tgiSwitch div:first-child{
    margin-bottom:5px;    
}
.tgiSelect{
	color:#fff;
	border:#fff;
	background-color:#62b0d9;
}
.tgiInt{
	display:none;
	position:absolute;
	right:41px;
	bottom:25px;
	width:14px;
	height:14px;
	cursor:pointer;
	/*background-image:url(../img/info.png);
	background-repeat:no-repeat;
	background-position:center center;*/
}
.tgiInfoDialog{
	position:absolute;
	padding:0 10px;
	display:none;
	color:#fff;
	width:150px;
	height:95px;
	background-color:rgba(0,0,0,0.6);
	border-radius:3px;
}
.tgiInfoDialog p{
	font-size:14px;
	line-height:30px;
	border-bottom:1px solid #fff;
	margin-bottom:6px;
}

/*加载动画*/
.ball-pulse{
    width:100%;
    height:100%;
}
.ball-pulse> div:nth-child(1) {
    width: 8px;
    height: 8px;
    -webkit-animation: load 0.75s 0.12s infinite;
    animation: load 0.75s 0.12s infinite;
}
.ball-pulse> div:nth-child(2) {
    width: 10px;
    height: 10px;
    -webkit-animation: load 0.75s 0.24s  infinite;
    animation: load 0.75s 0.24s infinite;
}
.ball-pulse> div:nth-child(3) {
    width: 12px;
    height: 12px;
    -webkit-animation: load 0.75s 0.36s infinite;
    animation: load 0.75s 0.36s infinite;
}
.ball-pulse> div {
    background-color: #b5b5b5;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    vertical-align:middle;
}
@keyframes load {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes load
{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes load
{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes load
{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.near_error{
	width: -o-calc(100% - 112px);
    width: calc-moz-(100% - 112px);
    width: calc-ms-(100% - 112px);
    width: -webkit-calc(100% - 112px);
    width: calc(100% - 112px);
    text-align:center;
}