@CHARSET "UTF-8";
@media screen and (max-width:1200px ) {
    body{min-width: 1200px;min-height:540px!important;overflow-x: auto!important;overflow-y: scroll!important;}
} 
em,i,b{font-style:normal!important;font-weight:500!important;}
.corlor4a{color:#4a4a4a;}
.cor389b9f{color:#389b9f;}
.cor094{color:#009944;}
.header{background:#052e44;}
.nav_ser{display:block;}
.notify-list{display:none!important;}
.label_border{border:1px solid #4a4a4a;border-radius:2px;}
.label_border:hover{border:1px solid #389b9f}
.width74{width:74px;padding:0px 15px 0 5px;}
.width158{width:158px;padding:0px 15px 0 5px;}
body{background:#f1f1f1;}
input[type=checkbox],input[type=radio]{
		margin-right:10px!important;
        -webkit-appearance: none;
        appearance: none;
        width: 13px;
        height: 13px;
        margin: 0;
        cursor: pointer;
        vertical-align: text-top;
        background: #e7ecde;
        border: 1px solid #bebebf;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
}

      
 



input[type=checkbox]:checked::after {
        content: url(../img/cb_icon.png);
        display: block;
        position: absolute;
        top:-1px;left:-2px;
}
/*高级搜索弹窗。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。*/
.ser_dialog{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.4);
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}
.dialog_area{width:810px;padding-bottom:10px;background:#fff;margin:120px auto 0;}
.dialog_title{height:40px;line-height:40px;background:#e8ebed;padding:0 20px;}
.dialog_title span{width:14px;height:14px;float:right;background:url(../img/cook_li_del.png) no-repeat;margin-top:15px;}
.dialog_title span:hover{background:url(../img/cook_li_del_hover.png) no-repeat;}
.dialog_tab{padding:0 0 0 20px;height:40px;line-height:40px;}
.dialog_tab li span{display:none;}
.dialog_tab li{float:left;margin-right:10px;cursor:pointer;background:url(../img/hot_arrow_down.png) no-repeat right center;padding-right:16px;}
.dialog_tab li.hot_arrow_up{background:url(../img/hot_arrow_up.png) no-repeat center right;}
.dialog_tab li span{width:16px;height:16px;border-radius:50%;background:#389b9f;color:#fff;font-size:12px;text-align:center;line-height:16px;top:-2px;right:-4px;}
.dislog_inp_con ul{width:100%;height:70px;background:#e8ebed;padding:0 20px;position:relative;}
.dislog_inp_con ul li{font-size:14px;}
.dislog_inp_con ul li.inp_ch_list label{line-height:35px;width:98px;margin-bottom:0;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;margin-right:30px;float:left;}
.dislog_inp_con ul li.inp_ch_list label input{width:14px;height:14px;vertical-align:top;margin-top:11px;margin-right:12px!important;}
.inp_ch_list{width:660px;height:70px;padding-right:10px;  overflow-y: auto;}

.inp_ch_list::-webkit-scrollbar-track {background-color: #f1f1f1;border-radius: 10px;}
.inp_ch_list::-webkit-scrollbar-thumb {background-color: #787878;border-radius: 10px;}
.inp_ch_list::-webkit-scrollbar-button {background-color: #7c2929;display: none;}
.inp_ch_list::-webkit-scrollbar-corner {background-color: black;}
.inp_ch_list::-webkit-scrollbar {width: 3px;color: blue;}
.inp_select_all{margin-top:25px;}

.dialog_inp_c{height:34px;margin:16px 0px 0px 0px;padding:0 20px;}
.dialog_inp_c_data {width:586px;height:34px;overflow-y:auto;}
.dislog_btn_sure{height: 30px;
    line-height: 30px;
    color: #fff;
    background: #389b9f;
    width: 88px;
    margin-right:20px;
    margin-top:16px;
    border-radius:2px;}
.dialog_inp_c_data::-webkit-scrollbar-track {background-color: #f1f1f1;border-radius: 10px;}
.dialog_inp_c_data::-webkit-scrollbar-thumb {background-color: #787878;border-radius: 10px;}
.dialog_inp_c_data::-webkit-scrollbar-button {background-color: #7c2929;display: none;}
.dialog_inp_c_data::-webkit-scrollbar-corner {background-color: black;}
.dialog_inp_c_data::-webkit-scrollbar {width: 3px;color: blue;}
.dialog_inp_c_data #inp_data_event{border-radius:2px;font-size:14px;margin-bottom:8px;position:relative;float:left;padding:0px 38px 0px 12px;color:#4a4a4a;margin-right:10px;line-height:28px;line-height:28px;}
.dialog_inp_c_data li span{top:10px;background:url(../img/favorite_close.png) no-repeat;cursor:pointer;position:absolute;width:8px;height:8px;right:12px;}
#inp_data_person1 div{border-radius:2px;font-size:14px;margin-bottom:4px;border:1px solid #009944;float:left;padding:0px 38px 0px 12px;color:#4a4a4a;margin-right:10px;line-height:30px;height:30px;}
#inp_data_event{border:1px solid #389b9f;}
.dialog_inp_del{margin-top:8px;margin-left:16px;}

.dialog_ser{padding:0 20px;margin-top:20px;}
.dialog_ser input{width:682px;height:36px;padding-left:10px;border:0;border:2px solid #389b9f;}
.dialog_ser div{width:88px;height:36px;line-height:36px;background:#389b9f;color:#fff;}
 .eventTab ul:nth-child(1):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:45px;
}
.eventTab ul:nth-child(2):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:133px;
}
 .eventTab ul:nth-child(3):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:215px;
}
 .eventTab ul:nth-child(4):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:295px;
}
 .eventTab ul:nth-child(5):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:380px;
}
 .eventTab ul:nth-child(6):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:461px;
}
 .eventTab ul:nth-child(7):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:557px;
}
 .eventTab ul:nth-child(8):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:655px;
}
 .eventTab ul:nth-child(9):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:735px;
}

 .eventTab2 ul:nth-child(1):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:43px;
}
 .eventTab2 ul:nth-child(2):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:155px;
}
 .eventTab2 ul:nth-child(3):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:257px;
}
 .eventTab2 ul:nth-child(4):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:340px;
}
 .eventTab2 ul:nth-child(5):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:422px;
}
 .eventTab2 ul:nth-child(6):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:504px;
}

 .eventTab2 ul:nth-child(7):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:586px;
}
 .eventTab2 ul:nth-child(8):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:654px;
}

 .eventTab2 ul:nth-child(9):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:737px;
}

 .personTab ul:nth-child(1):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:23px;
}
 .personTab ul:nth-child(2):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:75px;
}
 .personTab ul:nth-child(3):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:131px;
}
 .personTab ul:nth-child(4):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:185px;
}
 .personTab ul:nth-child(5):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:240px;
}
.age_dia_con{height:24px;padding-top:20px;color:#4a4a4a;font-size:12px;line-height:24px;}
.age_dia_con input {width:88px;height:24px;border:0;border-radius:2px;padding-left:10px;}
.age_dia_con b {font-style:normal!important;margin-right:10px;font-weight:400!important;}
.age_dia_con b:nth-of-type(3){
	margin-left:10px;
}
.age_dia_con b:nth-of-type(1){
	margin-left:10px;
}
#result_label_age{width:90px;}
/*搜索标签*/
.result_top{height:60px;background:#fff;padding:0px 48px;}
.result_t_l{line-height:60px;}
.result_t_r{height:30px;line-height:30px;margin-top:15px;}
.result_t_r div,.result_t_r ul{float:left;}
.result_t_r ul li{float:left;border-radius:2px;margin-right:10px;}
.result_t_l span{margin-right:5px;}
.result_t_l span:nth-child(3){
	display:inline-block;width: 10px;
    height: 10px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    transform:rotate(-45deg);
}
.lable_c-d{cursor:pointer;position:absolute;background:url(../img/cook_li_del.png) no-repeat;width:14px;height:14px;right:3px;top:8px;}
.lable_c-d:hover{background:url(../img/cook_li_del_hover.png);}
.result_evet_div{margin-left:10px;margin-right:10px;}
.result_filter{color:#fff;padding: 0 10px 0 28px;border-radius:2px;height:32px;line-height:32px;background-size: 16%;background:#389b9f url(../img/filtrate.png) no-repeat 7px center;}
/*搜索结果*/
.result-content{
	position:relative;
	display:none;
}
.result-section{
	width:1070px;
    height: 520px;
    margin:0 auto;
    background-image:url(../img/result-bg.png);
    background-position:-6px center;
    background-repeat:no-repeat;
    background-size:100%;
    padding-top:36px;
    padding-bottom:8px;
}
#canvas {
    position: relative;
    width:100%;
    height:100%;
}
.word {
    color: #fff;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    max-width:72px;
    max-height:50px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-all;
}
.edit-word{
	z-index:9;
	height:119px;
	width:119px;
	border-radius:50%;
	position: absolute;
    background-position:center;
    background-repeat:no-repeat;
	left: 536px;
    top: 239px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size:100%;
    cursor:pointer;
}
.edit-word:hover{
	background-image:url(../img/edit-word.png);
}
.txt-word{
	height:36px;
	line-height:34px;
	width:100%;
	margin-top:3px;
	border: 1px solid rgba(74, 74, 74,0.4);
	font-size:16px;
	color:#4a4a4a;
	padding:0 10px;
}
.topic {
    color: #4a4a4a;
    position: absolute;
    opacity: 0;
    cursor:pointer;
}
.topic .icon {
    border-radius: 50%;
    background-color: #a3a3a3;
    display: block;
    margin: 7px auto 7px auto;
    color:#fff;
    text-align:center;
    position:relative;
}
.topic .link{
	white-space: nowrap;
}
.fontClass1 {
    font-size: 12px;
}

.fontClass2 {
    font-size: 14px;
}

.fontClass3 {
    font-size: 16px;
}

.fontClass4 {
    font-size: 18px;
}

.sizeClass1 {
    width: 24px;
    height: 24px;
    line-height:24px;
    font-size: 12px;
}

.sizeClass2 {
    width: 30px;
    height: 30px;
    line-height:30px;
    font-size: 14px;
}

.sizeClass3 {
    width: 36px;
    height: 36px;
    line-height:36px;
    font-size: 16px;
}

.sizeClass4 {
    width: 42px;
    height: 42px;
    line-height:42px;
    font-size: 18px;
}
.topic:hover .icon{
	background-color: #2d9297;
}
.topic:hover .link{
	font-weight:bold;
}
.topic:hover .sizeClass4:before{
    position:absolute;
    top:-9px;
    left:-9px;
    width: 60px;
    height: 60px;
    border: 1px solid #2d9297;
    border-radius:50%;
    content:"";
}
.topic:hover .sizeClass3:before{
    position:absolute;
    top:-9px;
    left:-9px;
    width: 54px;
    height: 54px;
    border: 1px solid #2d9297;
    border-radius:50%;
    content:"";
}
.topic:hover .sizeClass2:before{
    position:absolute;
    top:-9px;
    left:-9px;
    width: 48px;
    height: 48px;
    border: 1px solid #2d9297;
    border-radius:50%;
    content:"";
}
.topic:hover .sizeClass1:before{
    position:absolute;
    top:-9px;
    left:-9px;
    width: 42px;
    height: 42px;
    border: 1px solid #2d9297;
    border-radius:50%;
    content:"";
}
/*页面底部*/
.result-bottom{
	height:60px;
	padding:0px 48px;
	line-height:60px;
	font-size:16px;
	color:#4a4a4a;
}
.result-bottom .hot-count{color:#b7b7b7;}
.result-bottom .circle1{
	height:16px;
	width:16px;
	background:#9e9e9e;
	border-radius:50%;
	margin:22px 14px 22px 14px;
}
.result-bottom .circle2{
    height:12px;
    width:12px;
    background:#9e9e9e;
    border-radius:50%;
    margin:24px 14px 24px 0px;
}
.result-bottom .circle3{
    height:8px;
    width:8px;
    background:#9e9e9e;
    border-radius:50%;
    margin:26px 14px 26px 0px;
}
/*换页*/
.hot-prev{
	width:51px;
	height:76px;
	position:absolute;
	top:240px;
	left:34.5px;
	background-image:url(../img/hot-prev.png);
	background-repeat:no-repeat;
    background-position:center;
}
.hot-next{
    width:51px;
    height:76px;
    position:absolute;
    top:240px;
    right:34.5px;
    background-image:url(../img/hot-next.png);
    background-repeat:no-repeat;
    background-position:center;
}
.hot-prev:hover,.hot-next:hover{
	opacity:0.5;
	background-color:rgba(0,0,0,0.5);
}

/*热点详情弹窗*/
.alertCon{
	display:none;
    position:absolute;
    left:32%;
    top:35%;
    width:414px;
    height:140px;
    margin:0;
    box-sizing: border-box;
    background-color:#fff;
    border-radius: 2px;
}
.portrait{
    display: inline-block;
    width:140px;
    height:140px;
    background-size:100%;
    background-position:center;
    margin-right: 10px;
    padding: 0;
}
.info{
    position: absolute;
    top:16px;
    display: inline-block;
    width: 246px;
    height:108px;
}
.infoTop{
    position: absolute;
    width:100%;
    height:22px;
}
.hotLabel{
    position: absolute;
    top:27px;
    font-size: 12px;
    color:#4a4a4a;
    display: inline-block;
    width: 100%;
    height:20px;
    line-height:20px;
}
.hotLabel div{
	background:#e8ebed;
	padding:0 8px;
	float:left;
	margin-right:6px;
}
.infoTitle{
    display: inline-block;
    width:160px;
    height:22px;
    line-height: 22px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.infoConnect{
    float: right;
    display: inline-block;
    width: 80px;
    height: 22px;
    line-height: 12px;
    font-size: 12px;
    margin:0;
    padding:5px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 11px;
    background-color: #389b9f;
    color:#fff;
    cursor:pointer;
}
.hotInfo{
    position: absolute;
    top:52px;
    font-size: 12px;;
    display: inline-block;
    width: 100%;
    height:32px;
    cursor:pointer;
    overflow: hidden;
}
.infoText{
    overflow: hidden;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 17px;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-all;
}
.infoBottom{
	position: absolute;
    bottom:0px;
    display: inline-block;    
    width:100%;
    height:24px;
    line-height:24px;
}
.hotValue{
    font-size: 24px;
    line-height:24px;
}
.font14{
    font-size: 14px;
}
.infoIcon{
    line-height:24px;
    float:right;
}
.iconCon a{
    width:16px;
    height:24px;
    background-position:center;
    background-repeat:no-repeat;
    margin-left:5px;
    display:inline-block;
    float:left;
}
.hotIcon{
    height:100%;
    width:12px;
    background:url(../img/hotIcon.png) no-repeat center;
    margin-right:5px;
}
/*搜索报错*/
.result-error{
	width:100%;
	height:520px;
	position:relative;
	display:none;
	font-size:14px;
}
.result-error .error-content{
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}