/* //本页面公用，通用的一些样式 */
@CHARSET "UTF-8";
@media screen and (max-width:1200px ) {
    body{min-width: 1200px;min-height:540px!important;overflow-x: auto!important;overflow-y: scroll!important;}
}  
.row {
     margin-right: 0px; 
    margin-left: 0px; 
}
em,i,b{font-style:normal!important;font-weight:500!important;}
.corlor4a{color:#4a4a4a;}
.cor389b9f{color:#389b9f;}
input[type=checkbox],input[type=radio]{
		margin-right:10px!important;
        -webkit-appearance: none;
        appearance: none;
        width: 13px;
        height: 13px;
        margin: 0;
        cursor: pointer;
        vertical-align: text-top;
        background: #e7ecde;
        border: 1px solid #bebebf;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        background:#fff;
}

      
 



input[type=checkbox]:checked::after {
        content: url(../img/cb_icon.png);
        display: block;
        position: absolute;
        top:-1px;left:-2px;
}

/*头部。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。*/


/*搜索。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。*/
.ser_section{
	overflow:hidden;
	width:100%;
	height:-moz-calc(100% - 272px);
	height:-webkit-calc(100% - 272px);
	height:-o-calc(100% - 272px);
	height:-ms-calc(100% - 272px);
	height:calc(100% - 272px);
	padding:0px 320px 0px;
	min-height:330px;
	transition:all .5s;
}
.ser_con{height:38px;margin:156px auto 0;}
.ser_text{border:0;border:2px solid #fff;width:-o-calc(100% - 186px);width:calc-moz-(100% - 186px);width:calc-ms-(100% - 186px);width:-webkit-calc(100% - 186px);width:calc(100% - 186px);padding-left:10px;
		  border-top-left-radius:2px;border-bottom-left-radius:2px;padding-top:6px;padding-bottom:6px;
}
.ser_text:focus{border:2px solid #389b9f;} 
.ser_btn{width:88px;float:right;background-color:#389b9f;color:#fff;height:38px;line-height:38px;}
#ser_btn{margin-right:10px;border-top-right-radius:2px;border-bottom-right-radius:2px}
#ser_btn:hover{background-color:rgba(56, 155, 159,.7);}
#ser_btn_high{border-radius:2px;color:#fff;width:88px;height:38px;line-height:38px;}
#ser_btn_high:hover{color:#389b9f}
.favorite_set_btn{right:192px;top:5px;padding:4px 6px;background:#389b9f;color:#fff;border-radius:2px;}
.favorite_set_btn:before{
	content:'';
	width:0;
	height:0;
	left:-7px;
	position:absolute;
	border-right:7px solid #389b9f;
	border-top:7px solid transparent;
	border-bottom:7px solid transparent;
	top:7px;
}
.favorite_div{margin-top:4px;height:20px;line-height:20px;}
.favorite_set_text{color:rgba(255,255,255,.5);margin-right:14px;}
.favorite_ul{display:-webkit-inline-flex;display:-ms-inline-flex;display:-o-inline-flex;display:-moz-inline-flex;display:inline-flex;}
.favorite_ul li{min-weidth:70px;max-width:80px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;;cursor:pointer;position:relative;float:left;color:rgba(42,211,218,.5);padding:0 15px 0px 4px;}
.favorite_ul li:hover{color:rgba(42,211,218,1);background-color:rgba(56,155,159,.5);padding:0 15px 0px 4px;border-radius:2px;color:#fff;}

.favorite_ul li:hover span{background:url(../img/del_white.png) no-repeat;}
.favorite_ul li span{cursor:pointer;position:absolute;top:6px;right:4px;width:8px;height:8px;}
.favorite_ul li span:hover{background:url(../img/del_white.png) no-repeat;}
.ser_hint{top:-42px;height:34px;line-height:34px;background:#fff url(../img/ser_hint.png) no-repeat 12px center;padding-left:32px;padding-right:12px;border-radius:2px;}
.ser_hint:after{
	content:'';
	position:absolute;
	top:34px;
	left:25px;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-top:7px solid #fff;
}
.cook_ul{background:#fff;z-index:10;border:0;width:-o-calc(100% - 186px);width:calc-moz-(100% - 186px);width:calc-ms-(100% - 186px);width:-webkit-calc(100% - 186px);width:calc(100% - 186px);}
.cook_ul li{padding:0px 8px 0px 36px;cursor:pointer;height:30px;line-height:30px;font-size:14px;color:rgba(74,74,74,.8);background:url(../img/hostory-icon.png) no-repeat 12px center;}
.cook_ul li:hover{background:#f9f9f9 url(../img/hostory-icon.png) no-repeat 12px center;}
.cook_ul li span{width:14px;height:14px;float:right;background:url(../img/del_black.png) no-repeat;margin-top:12px;}
.cook_ul li span:hover{background:url(../img/del_green.png) no-repeat;}

/*高级搜索弹窗。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。*/
.ser_dialog{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.4);
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}
.dialog_area{width:810px;padding-bottom:20px;background:#fff;margin:120px auto 0;}
.dialog_title{height:40px;line-height:40px;background:#e8ebed;padding:0 20px;}
.dialog_title span{width:8px;height:8px;float:right;background:url(../img/del_black.png) no-repeat;margin-top:15px;margin-right:-1px;}
.dialog_title span:hover{background:url(../img/del_bule.png) no-repeat;}
.dialog_tab{padding:0px 0px 0px 20px;height:40px;line-height:40px;}
.dialog_tab li span{display:none;}
.dialog_tab li{float:left;margin-right:10px;cursor:pointer;background:url(../img/hot_arrow_down.png) no-repeat right center ;padding-right:16px;}
.dialog_tab li.hot_arrow_up{background:url(../img/hot_arrow_up.png) no-repeat center right;}
.dialog_tab li span{width:16px;height:16px;border-radius:50%;background:#389b9f;color:#fff;font-size:12px;text-align:center;line-height:16px;top:-4px;right:-1px;}
.dislog_inp_con ul{width:100%;height:70px;background:#e8ebed;padding:0 20px;position:relative;}
.dislog_inp_con ul li{font-size:14px;}
.dislog_inp_con ul li.inp_ch_list label{line-height:35px;width:98px;margin-bottom:0;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;margin-right:30px;float:left;}
.dislog_inp_con ul li.inp_ch_list label input{width:14px;height:14px;vertical-align:top;margin-top:11px;margin-right:12px!important;}
.inp_ch_list{width:660px;height:70px;padding-right:10px;  overflow-y: auto;}

.inp_ch_list::-webkit-scrollbar-track {background-color: #f1f1f1;border-radius: 5px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
.inp_ch_list::-webkit-scrollbar-thumb {background-color: #787878;border-radius: 5px;}
.inp_ch_list::-webkit-scrollbar-button {background-color: #7c2929;display: none;}
.inp_ch_list::-webkit-scrollbar-corner {background-color: black;}
.inp_ch_list::-webkit-scrollbar {width: 3px;color: blue;height:5px;}
.inp_select_all{margin-top:25px;}

.dialog_inp_c{height:34px;margin:14px 0px 0px 0px;padding:0 20px;}
.dialog_inp_c_data {width:660px;height:34px;overflow-y:auto;}

.dialog_inp_c_data::-webkit-scrollbar-track {background-color: #f1f1f1;border-radius: 10px;}
.dialog_inp_c_data::-webkit-scrollbar-thumb {background-color: #787878;border-radius: 10px;}
.dialog_inp_c_data::-webkit-scrollbar-button {background-color: #7c2929;display: none;}
.dialog_inp_c_data::-webkit-scrollbar-corner {background-color: black;}
.dialog_inp_c_data::-webkit-scrollbar {width: 3px;color: blue;}
.dialog_inp_c_data #inp_data_event{margin-bottom:4px;position:relative;float:left;padding:0px 38px 0px 12px;color:#4a4a4a;margin-right:10px;min-height:28px;line-height:28px;font-size:14px;}
.dialog_inp_c_data #inp_data_event  span{top:10px;background:url(../img/del_black.png) no-repeat;cursor:pointer;position:absolute;width:8px;height:8px;right:12px;border-radius:2px;}
.dialog_inp_c_data  #inp_data_event   span:hover{background:url(../img/del_bule.png) no-repeat;}
.dialog_inp_c_data #inp_data_person1  span{top:10px;background:url(../img/del_black.png) no-repeat;cursor:pointer;position:absolute;width:8px;height:8px;right:12px;border-radius:2px;}
.dialog_inp_c_data #inp_data_person1   span:hover{background:url(../img/del_green.png) no-repeat;}
#inp_data_person1 div{border-radius:2px;margin-bottom:4px;border:1px solid #009944;float:left;padding:0px 38px 0px 12px;color:#4a4a4a;margin-right:10px;min-height:28px;line-height:28px;font-size:14px;}
#inp_data_event{border:1px solid #389b9f;border-radius:2px;}
.dialog_inp_del{margin-top:10px;float:right;color:#000;}
.dialog_inp_del:hover{color:#389b9f;}

.dialog_ser{padding:0 20px;margin-top:20px;}
.dialog_ser input{width:682px;height:36px;padding-left:10px;border:0;border:1px solid #389b9f;border-top-left-radius: 2px;border-bottom-left-radius: 2px;}
.dialog_ser div{width:88px;height:36px;line-height:36px;background:#389b9f;color:#fff;border-top-right-radius:2px;border-bottom-right-radius:2px;}
 .eventTab ul:nth-child(1):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:45px;
}
.eventTab ul:nth-child(2):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:133px;
}
 .eventTab ul:nth-child(3):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:215px;
}
 .eventTab ul:nth-child(4):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:295px;
}
 .eventTab ul:nth-child(5):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:380px;
}
 .eventTab ul:nth-child(6):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:461px;
}
 .eventTab ul:nth-child(7):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:563px;
}
 .eventTab ul:nth-child(8):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:655px;
}
 .eventTab ul:nth-child(9):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:735px;
}

 .eventTab2 ul:nth-child(1):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:45px;
}
 .eventTab2 ul:nth-child(2):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:155px;
}
 .eventTab2 ul:nth-child(3):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:258px;
}
 .eventTab2 ul:nth-child(4):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:340px;
}
 .eventTab2 ul:nth-child(5):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:422px;
}
 .eventTab2 ul:nth-child(6):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:504px;
}

 .eventTab2 ul:nth-child(7):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:586px;
}
 .eventTab2 ul:nth-child(8):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:655px;
}

 .eventTab2 ul:nth-child(9):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:737px;
}

 .personTab ul:nth-child(1):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:23px;
}
 .personTab ul:nth-child(2):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:78px;
}
 .personTab ul:nth-child(3):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:131px;
}
 .personTab ul:nth-child(4):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:186px;
}
 .personTab ul:nth-child(5):before{
	width:0;
	height:0;
	content:'';
	position:absolute;
	border-bottom:10px solid #e7eced;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	top:-10px;
	left:240px;
}
.age_dia_con{height:24px;padding-top:20px;color:#4a4a4a;font-size:12px;line-height:24px;}
.age_dia_con input {width:88px;height:24px;border:0;border-radius:2px;padding-left:10px;}
.age_dia_con b {font-style:normal!important;margin-right:10px;font-weight:400!important;}
.age_dia_con b:nth-of-type(3){
	margin-left:10px;
}
.age_dia_con b:nth-of-type(1){
	margin-left:10px;
}
/*ui新需求高级探索开始。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。*/
.userDialog_tag {height:36px;padding-left:20px;}

.userDialog_tag li{float:left;
    margin-right: 10px;
    margin-bottom:10px;
    }
.userDialog_tag li label{
	background: #c5c5c5;
    padding: 3px 8px;
    font-size: 14px;
    border-radius: 2px;
	color:#fff;
	margin:0;
}    
.userDialog_tag li input{display:none;}
.person_new_tag i{
	margin-right:10px;
	background:#389b9f;
    border-radius: 2px;
	margin-bottom: 4px;
    position: relative;
    float: left;
    padding: 1px 38px 1px 12px;
    color: #fff;
    margin-right: 10px;
    min-height: 28px;
    line-height: 28px;
    font-size: 14px;
}
#inp_data_person1 .person_new_tag i span{
	top: 10px;

    background: url(../img/del_white.png) no-repeat;
    cursor: pointer;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 12px;
    border-radius: 2px;
}
#inp_data_person1 .person_new_tag i span:hover{
	background: url(../img/del_black.png) no-repeat;
}
/*ui新需求高级探索结束。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。*/
/*曲线图。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。*/
html,body{
	margin:0;
	padding:0;
	background-color:transparent!important;
	height:100%;
}
body{
	overflow-x:hidden ;
	background-image:url("../img/background.png");
	background-repeat: no-repeat ;
	background-size: cover!important;
	background-attachment:fixed;
}
/*弹出层样式 */
.releateTag{
    height: 38px;
    line-height: 38px;
    width:150px;
    font-size: 16px;
    padding-left:10px;
    vertical-align: top;
    border:0;
    border:1px solid #ccc;
}
.selectTag{
    display: inline-block;
    float:right;
    width:150px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    background-color: #ececec;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
/*热点详情弹窗*/
.alertCon{
    display:none;
    position:absolute;
    left:32%;
    top:35%;
    width:428px;
    height:144px;
    margin:0;
    box-sizing: border-box;
    background-color:#fff;
    border-radius: 2px;
    -moz-box-shadow:0px 0px 18px rgba(0,0,0,.3);
    -webkit-box-shadow:0px 0px 18px rgba(0,0,0,.3);
    box-shadow:0px 0px 18px rgba(0,0,0,.3);
}
.portrait{
    float:left;
    width:144px;
    height:144px;
    background-size:100%;
    background-position:center;
    margin-right: 10px;
    padding: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    cursor:pointer;
}
.info{
    float:left;
    width:274px;
    padding:12px 12px 12px 0;
    height:144px;
    cursor:default;
}
.infoTop{
    width:100%;
    height:22px;
}
.hotAlertTag{
    margin-top:8px;
    font-size: 12px;
    color:#4a4a4a;
    display: inline-block;
    width: 100%;
    height:20px;
    line-height:20px;
}
.hotAlertTag div{
    background:#e8ebed;
    padding:0 8px;
    float:left;
    margin-right:6px;
    max-width:91px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    border-radius:2px;
}
.infoTitle{
    display: inline-block;
    max-width:178px;
    height:22px;
    line-height: 22px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.infoConnect{
    float: right;
    display: inline-block;
    width: 80px;
    height: 22px;
    line-height: 12px;
    font-size: 12px;
    margin:0;
    padding:5px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 11px;
    background-color: #389b9f;
    color:#fff;
    cursor:pointer;
}
.hotInfo{
    margin-top:4px;
    font-size: 12px;
    width: 100%;
    height:32px;
    overflow: hidden;
}
.infoText{
    overflow: hidden;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 17px;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-all;
    cursor:pointer
}
.infoBottom{
    display: inline-block;    
    width:100%;
    height:24px;
    line-height:24px;
    margin-top:8px;
}
.hotValue{
    font-size: 14px;
    line-height:24px;
    font-weight:bold;
}
.font14{
    font-size: 14px;
}
.hotLeft{
    height:24px;
    cursor:pointer;
}
.iconCon{
    height:24px;
    width:75px;
    background:url(../img/card-chart.png) no-repeat left center;
    padding-left:19px;
    cursor:pointer;
}
.planText{
    height:24px;
    width:72px;
    background:url(../img/card-detail.png) no-repeat left center;
    padding-left:16px;
    margin-left:15.5px;
    cursor:pointer;
}
.hotTrend{
    height:24px;
    width:7px;
    background:url(../img/card-up.png) no-repeat center;
    margin-left:5px;
}
.hotIcon{
    height:100%;
    width:12px;
    background:url(../img/hotIcon.png) no-repeat center 2.5px;
    margin-right:5px;
}
.triangle{
    position: absolute;
    display: inline-block;
    bottom:-14px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 14px solid #fff;
}


.upPage{
	position:absolute;
	top:-34px;
	width:40px;
	height:45px;
	left:50%;
	background-size:40px auto;
	background-position:center center;
	background-repeat:no-repeat;
	transform:translate(-50%,0);
	background-image:url(../img/upPage.png);
	display:inline-block;
	animation:upmove 1s ease infinite;
	cursor:pointer;
}
@keyframes upmove
{
from {background-position:0 3px;}
to {background-position:0 -6px;}
}

@-moz-keyframes upmove /* Firefox */
{
from {background-position:0 3px;}
to {background-position:0 -6px;}
}

@-webkit-keyframes upmove /* Safari 和 Chrome */
{
from {background-position:0 3px;}
to {background-position:0 -6px;}
}

@-o-keyframes upmove /* Opera */
{
from {background-position:0 3px;}
to {background-position:0 -6px;}
}

.pointer{
	cursor:pointer
}
.loadingcon{
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	color:rgba(0,0,0,.3);
	background-color:#fff;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.loadingcon p{
	position:absolute;
	bottom:-16px;
	width:183px;
	transform:translate(-53px)
}
/*结果加载*/
.result-loading1{background:url(../img/resultloading.png) no-repeat center center;width:64px;height:64px;position: relative;margin:0 auto;}
	
.result-loading1 span{position: absolute;}
.result-loading1 span:nth-child(1){
     width:0px;height:3px;background: #389b9f;top:42px;left:4px;
     animation:movewidth1 3s ease  infinite;
     -o-animation:movewidth1 3s ease  infinite;
     -moz-animation:movewidth1 3s ease  infinite;
     -ms-animation:movewidth1 3s ease  infinite;
     -webkit-animation:movewidth1 3s ease  infinite;
 }
@keyframes movewidth1{
     0%{width:0px;}
     5%{width:9px;}
     100%{width:9px;}
 }
.result-loading1 span:nth-child(2){
           width:3px;height:1px;background: #389b9f;bottom:20px;left:10px;
           transform-origin:20% 40%;
           animation: moveheight1 3s ease  infinite;
           -o-animation:moveheight1 3s ease  infinite;
           -moz-animation:moveheight1 3s ease  infinite;
           -ms-animation:moveheight1 3s ease  infinite;
           -webkit-animation:moveheight1 3s ease  infinite;
       }
@keyframes moveheight1{
       0%{height:0px;}
       5%{height:0px;}
       15%{height: 25px;}
       100%{height:25px;}
   }
.result-loading1 span:nth-child(3){
       width:0px;height:3px;background: #389b9f;top:17px;left:10px;
       animation: movewidth2 3s ease  infinite;
       -o-animation:movewidth2 3s ease  infinite;
       -moz-animation:movewidth2 3s ease  infinite;
       -ms-animation:movewidth2 3s ease  infinite;
       -webkit-animation:movewidth2 3s ease  infinite;
   }
   @keyframes movewidth2{
       0%{width:0px;}
       15%{width:0px;}
       20%{width:11px;}
       100%{width:11px;}
   }
   .result-loading1 span:nth-child(4){
       width:3px;height:0px;background: #389b9f;top:18px;left:18px;
       animation: moveheight2 3s ease  infinite;
       -o-animation:moveheight2 3s ease  infinite;
       -moz-animation:moveheight2 3s ease  infinite;
       -ms-animation:moveheight2 3s ease  infinite;
       -webkit-animation:moveheight2 3s ease  infinite;
   }
   @keyframes moveheight2{
       0%{height:0px;}
       20%{height:0px;}
       30%{height: 33px;}
       100%{height:33px;}
   }
   .result-loading1 span:nth-child(5){
       width:3px;height:3px;background: #389b9f;top:50px;left:18px;
       animation: movewidth3 3s ease  infinite;
       -o-animation:movewidth3 3s ease  infinite;
       -moz-animation:movewidth3 3s ease  infinite;
       -ms-animation:movewidth3 3s ease  infinite;
       -webkit-animation:movewidth3 3s ease  infinite;
   }
   @keyframes movewidth3{
       0%{width:0px;}
       30%{width:0px;}
       35%{width:13px;}
       100%{width:13px;}
   }
   .result-loading1 span:nth-child(6){
       width:3px;height:0px;background: #389b9f;bottom:18px;left:26px;
       animation: moveheight3 3s ease  infinite;
       -o-animation:moveheight3 3s ease  infinite;
       -moz-animation:moveheight3 3s ease  infinite;
       -ms-animation:moveheight3 3s ease  infinite;
       -webkit-animation:moveheight3 3s ease  infinite;
   }
   @keyframes moveheight3{
       0%{height:0px;}
       35%{height:0px;}
       45%{height: 36px;}
       100%{height:36px;}
   }
   .result-loading1 span:nth-child(7){
       width:0px;height:3px;background: #389b9f;top:8px;left:26px;
       animation: movewidth4 3s ease  infinite;
       -o-animation:movewidth4 3s ease  infinite;
       -moz-animation:movewidth4 3s ease  infinite;
       -ms-animation:movewidth4 3s ease  infinite;
       -webkit-animation:movewidth4 3s ease  infinite;
   }
   @keyframes movewidth4{
       0%{width:0px;}
       45%{width:0px;}
       50%{width:12px;}
       100%{width:12px;}
   }
   .result-loading1 span:nth-child(8){
       width:3px;height:3px;background: #389b9f;top:8px;left:35px;
       animation: moveheight4 3s ease  infinite;
       -o-animation:moveheight4 3s ease  infinite;
       -moz-animation:moveheight4 3s ease  infinite;
       -ms-animation:moveheight4 3s ease  infinite;
       -webkit-animation:moveheight4 3s ease  infinite;
   }
   @keyframes moveheight4{
       0%{height:0px;}
       50%{height:0px;}
       60%{height: 45px;}
       100%{height:45px;}
   }
   .result-loading1 span:nth-child(9){
       width:3px;height:3px;background: #389b9f;top:50px;left:35px;
       animation: movewidth5 3s ease  infinite;
       -o-animation:movewidth5 3s ease  infinite;
       -moz-animation:movewidth5 3s ease  infinite;
       -ms-animation:movewidth5 3s ease  infinite;
       -webkit-animation:movewidth5 3s ease  infinite;
   }
   
   @keyframes movewidth5{
       0%{width:0px;}
       60%{width:0px;}
       65%{width:13px;}
       100%{width:13px;}
   }
   .result-loading1 span:nth-child(10){
       width:3px;height:0px;background: #389b9f;bottom:18px;left:43px;
       animation: moveheight5 3s ease  infinite;
       -o-animation:moveheight5 3s ease  infinite;
       -moz-animation:moveheight5 3s ease  infinite;
       -ms-animation:moveheight5 3s ease  infinite;
       -webkit-animation:moveheight5 3s ease  infinite;
   }
   @keyframes moveheight5{
       0%{height:0px;}
       65%{height:0px;}
       75%{height: 28px;}
       100%{height:28px;}
   }
   .result-loading1 span:nth-child(11){
       width:3px;height:3px;background: #389b9f;top:17px;left:43px;
       animation: movewidth6 3s ease  infinite;
       -o-animation:movewidth6 3s ease  infinite;
       -moz-animation:movewidth6 3s ease  infinite;
       -ms-animation:movewidth6 3s ease  infinite;
       -webkit-animation:movewidth6 3s ease  infinite;
   }
   @keyframes movewidth6{
       0%{width:0px;}
       75%{width:0px;}
       80%{width:10px;}
       100%{width:10px;}
   }
   .result-loading1 span:nth-child(12){
       width:3px;height:3px;background: #389b9f;top:17px;left:51px;
       animation: moveheight6 3s ease  infinite;
       -o-animation:moveheight6 3s ease  infinite;
       -moz-animation:moveheight6 3s ease  infinite;
       -ms-animation:moveheight6 3s ease  infinite;
       -webkit-animation:moveheight6 3s ease  infinite;
   }
   @keyframes moveheight6{
       0%{height:0px;}
       80%{height:0px;}
       95%{height: 28px;}
       100%{height:28px;}
   }
   .result-loading1 span:nth-child(13){
       width:3px;height:3px;background: #389b9f;top:42px;left:51px;
       animation: movewidth7 3s ease  infinite;
       -o-animation:movewidth7 3s ease  infinite;
       -moz-animation:movewidth7 3s ease  infinite;
       -ms-animation:movewidth7 3s ease  infinite;
       -webkit-animation:movewidth7 3s ease  infinite;
   }
   @keyframes movewidth7{
       0%{width:0px;}
       95%{width:0px;}
       100%{width:10px;}
   }
   
/* 更新记录 开始 */
	#record-btn-index{width:32px;height:32px;background:#389b9f url(../img/record-btn-index.png) no-repeat center center;left:0;top:50%;margin-top:-16px;position:absolute;border-radius: 0 50px 50px 0;cursor:pointer;}

	.record-div{overflow:hidden;position:fixed;width:100%;height:100%;background:rgba(0,0,0,.4);top:0;left:0;z-index:99;}
	.record-con1{border-radius:2px;background:#fff;width:810px;position:absolute;left:50%;top:50%;transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);}
	
	.record-con1 .record-nav{height:136px;background:url(../img/record-nav1.png) no-repeat center 24px;}
	.record-con2{border-radius:2px;background:#fff;width:810px;position:absolute;left:50%;top:50%;transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);}
	.record-con2 .record-nav{height:136px;background:url(../img/record-nav2.png) no-repeat center 24px;}
	.record-nav p{color:#389b9f;font-size:16px;padding-top:98px;text-align:center;}
	.record-ul{max-height:250px;padding:14px 20px;border-top:1px solid #e8ebed;border-bottom:1px solid #e8ebed;overflow-y:auto;}
	.record-ul::-webkit-scrollbar-track {background-color: #f1f1f1;border-radius: 5px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
	.record-ul::-webkit-scrollbar-thumb {background-color: #787878;border-radius: 5px;}
	.record-ul::-webkit-scrollbar-button {background-color: #7c2929;display: none;}
	.record-ul::-webkit-scrollbar-corner {background-color: black;}
	.record-ul::-webkit-scrollbar {width: 3px;color: blue;height:5px;}
	.record-ul>div{
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		justify-content: space-between;
		-webkit-justify-content: space-between;  
	    -moz-justify-content: space-between;  
	    -ms-justify-content: space-between;  
	    -o-justify-content: space-between;
	}
	.record-ul>div p:nth-child(1){font-size:16px;color:#000;}
	.record-ul>div p:nth-child(2){font-size:14px;color:#4a4a4a;}
	.record-btn-b{padding:14px 20px;height:60px;line-height:32px;
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		justify-content: space-between;
		-webkit-justify-content: space-between;  
	    -moz-justify-content: space-between;  
	    -ms-justify-content: space-between;  
	    -o-justify-content: space-between;}
	.record-ul li{margin-top:2px;}  
	.record-ul li p{margin-top:12px;}  
	.record-ul li p:nth-child(1){color:#389b9f;font-size:16px;}
	.record-ul li p:nth-child(2){color:#4a4a4a;font-size:14px;text-align: justify;}
	.record-btn-b-l,.record-btn-b-r{color:#389b9f;font-size:16px;cursor:pointer;}
	.record-btn-b-r{width:88px;border-radius:2px;border:1px solid #389b9f;line-height:32px;text-align:center;}
	.record-con2 .record-ul li{cursor:pointer;}
	.record-div ,.record-con2{display:none;}
	
/* 更新记录 结束 */

/* 用户引导 开始 */
.hot-user-guide{width:100%;height:100%;background:rgba(0,0,0,.4);position:fixed;left:0;top:0;z-index:10000;min-width:1200px;display:none;}
.hot-user-tep1{width:357px;height:191px;background:url(../img/user-tep1.png) no-repeat;top:35px;left:400px;z-index:10001;display:none;}
.hot-user-tep2{width:357px;height:203px;background:url(../img/user-tep2.png) no-repeat;top:260px;right:290px;z-index:10001;display:none;}
.hot-user-tep3{width:357px;height:215px;background:url(../img/user-tep3.png) no-repeat;bottom:140px;left:190px;z-index:10001;display:none;}
.hot-user-tep4{width:357px;height:221px;background:url(../img/user-tep4.png) no-repeat;z-index:10001;display:none;}
.hot-user-tep5{width:397px;height:223px;background:url(../img/user-tep5.png) no-repeat;z-index:10001;display:none;}
.hot-user-tep6{width:357px;height:200px;background:url(../img/user-tep6.png) no-repeat;top:47px;right:6px;z-index:10001;display:none;}
.hot-user-tep7{width:357px;height:202px;background:url(../img/user-tep7.png) no-repeat;top:47px;right:24px;z-index:10001;display:none;}
/* 更新记录 结束 */
.circleChange{
    margin-bottom:6px;
}
.all_hot_btn{
	font-size:14px;
	padding:7px 16px 7px 39px;
	background: url(../img/hot-circle-icon.png) no-repeat 20px center;
	cursor:pointer;
	display:inline-block;
	text-align:center;
    border:1px solid #eee;
    color:white;
    margin-right:12px;
    border:1px solid #399b9f;
    border-radius:50px;
}
.circle_btn{
	font-size:14px;
	padding:7px 16px 7px 39px;
	cursor:pointer;
	background: url(../img/hot-all-icon.png )no-repeat 20px center;
	text-align:center;
	display:inline-block;
    border:1px solid #eee;
    color:white;
    border:1px solid #399b9f;
    border-radius:50px;
}
.all-circle-active{
	background:url(../img/hot-circle-hover.png) no-repeat 20px center;
	background-color:#399b9f;
}
.circleInfo{
	position:relative;
	height:200px;
	background-color:#fff;
}
.circleTagCon{
	background-color:#fff;
	padding:12px 0 9px 30px;
}
.circleTagCon li{
	display:inline-block;
	border-radius:5px;
	width:110px;
	height:32px;
	line-height:32px;
	font-size:14px;
	color:#4a4a4a;
	text-align:center;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	margin-right:8px;
	border:1px solid #eee;
	background-color:#fff;
	cursor:pointer;
}
.circleTagCon li.circletagactive{
	background:#399b9f;
	color:#fff;
}
.circleDes{
	display:absolute;
	left:0;
	display:inline-block;
	width:49.5%;
	padding:8px 0 8px 34px;
	height:100%;
}
.circleTag{
	position:absolute;
	right:0;
	display:inline-block;
	width:49.5%;
	padding:8px 0 8px 34px;
	height:100%;
}
.circleDesTitleP{
	font-size:18px;
	color:#389b9f;
}
.splitLine{
	position:absolute;
	left:51%;
	top:5%;
	display:inline-block;
	width:0px;
	height:90%;
	border-left:1px solid #aaa;
}
.circleTagTitle{
	font-size:18px;
	color:#389b9f;
}
.circle_Des_Info{
	position:relative;
	padding-top:17px;
	height:calc(100% - 33px);
}
.circle_Des_Icon{
	display:inline-block;
	position:absolute;
	width:60px;
	height:60px;
	background-repeat:no-repeat;
	background-position:center top;
	background-size:100%;
}
.circleDesTitle{
	font-size:16px;
}
.circleDesText{
	height:70px;
	width:calc(100% - 10px);
	overflow: hidden;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    line-height: 17px;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    word-break: break-all;
}
.circleDesCon{
	margin-left:70px;
}
.circle_Tag_Info{
	height:calc(100% - 33px);
}
.circle_Tag_Circle{
	position:relative;
	margin:0 auto;
	width:88px;
	height:88px;
	background-color:#399B9D;
	border-radius:50%;
	top:50%;
	transform:translate(0,-50%);
	line-height:88px;
	font-size:14px;
	text-align:center;
	color:#fff;
}
.circle_Tag_Circle:before{
	content:"";
	display:inline-block;
	position:absolute;
	top:-10px;
	left:-10px;
	width:108px;
	height:108px;
	border-radius:50%;
	border:1px solid #399B9D;
	opacity: 0.5;
}
.circle_Tag_Circle div{
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	/*display:inline-block;*/
	padding:0 8px;
	
	font-size:14px;
	color:#4a4a4a;
	height:24px;
	line-height:24px;
	background-color:#e1e1e1;
	border-radius:2px;
}
.circleTagLeft:after{
	content:'';
	position:absolute;
	display:inline-block;
    width:0;
    height:0;
    border-width:6px 0 6px 10px;
    border-style:solid;
    border-color: transparent transparent transparent #e1e1e1;    
    top:6px;
    right:-10px;
}
/*.circleTagRight{
	position:absolute;
	display:inline-block;
	padding:0 8px;
	text-align:center;
	min-width:60px;
	max-width:86px;
	font-size:14px;
	color:#4a4a4a;
	height:24px;
	line-height:24px;
	background-color:#e1e1e1;
}*/
.circleTagRight:before{
	content:'';
	display:inline-block;
    width:0;
    height:0;
    border-width:6px 10px 6px 0;
    border-style:solid;
    border-color:transparent #e1e1e1 transparent transparent;
    position:absolute;
    top:6px;
    left:-10px;
}
.textCut{
	display:inline-block;
	text-align:center;
	min-width:60px;
	max-width:86px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.tgiInt{
	display:none;
	position:absolute;
	right:41px;
	bottom:25px;
	width:14px;
	height:14px;
	cursor:pointer;
	/*background-image:url(../img/info.png);
	background-repeat:no-repeat;
	background-position:center center;*/
}
.tgiInfoDialog{
	position:absolute;
	padding:0 10px;
	display:none;
	color:#fff;
	width:150px;
	height:95px;
	background-color:rgba(0,0,0,0.5);
	border-radius:3px;
}
.tgiInfoDialog p{
	font-size:14px;
	line-height:30px;
	border-bottom:1px solid #fff;
	margin-bottom:6px;
}

/* 搜索热点start */
#all-hot-btn-ser {
	width: 240px;
    height: 32px;
    border-radius: 50px;
    border: 0;
    padding-left: 20px;
    background: rgba(255,255,255,.8);
    padding-right:35px;
}
.allhot-change{
	width:16px;
	height:16px;
	background:url(../img/all-hot-btn-ser.png) no-repeat;
	top:8px;
	right:12px;
}

.allhot-changeactive{
	background:url(../img/all-hot-btn-ser-back.png) no-repeat;
}
/* 搜索热点end */