@CHARSET "UTF-8";
@media screen and (max-width:1340px ) {
    body{min-width: 1320px;overflow-x: auto!important;}
}  

.hotspots-section{
	padding:48px 62px 0px 50px;
}

/* 搜索 */
.nav-menu-ul li:nth-child(11) a {
    background: #222;
    }
  
.hotspots-t-title{margin:0 auto;width:258px;height:27px;background:url(../img/hotspotstitle.png) no-repeat;margin-bottom:36px;}  
.color9c{color:#9c9c9c;}
.search-t-div{width:671px;height:66px;margin:0 auto 43px;}
.search-t-ul{margin-bottom:10px;height:14px;}
.search-t-ul li{font-size:14px;margin-right:26px;}
.search-t-ul li:first-child{color:#02998e;}
.search-t-ul li:nth-child(4){margin-right:90px;}

.search-input{width:581px;height:40px;border:0;border-radius:5px;color:#444;font-size:14px;padding-left:10px;}
.search-input:focus{border:1px #02998e solid;}
.search-btn{font-size:14px;border-radius:5px;display:inline-block;height:40px;width:76px;margin-left:10px;background:#02998e; vertical-align: bottom;line-height:40px;}
.search-btn span{color:#fff;display:inline-block;}
.set-favorite{top:5px;right:100px;background:#02998e url(../img/changyong-icon.png) no-repeat 5px 8px;padding: 5px 5px 5px 20px;color:#fff;border-radius:5px;font-size:14px;}
.arrow-left {
	    right: 194px;
    top: 14px;
    width:0; 
    height:0; 
    border-top:7px solid transparent;
    border-bottom:7px solid transparent; 
    border-right:9px solid #02998e; 
}
#set-favorite{
	display: none;
}
#showlabel{padding:5px 14px 5px 10px;color:#02998e}
.dialog-alert{width:581px;z-index:999;border:1px #f0f0f0 solid;border-radius:5px;box-shadow: 2px 2px 2px rgba(14, 5, 10, 0.25);background:#fff;}
.favorite_ul{border-bottom:1px solid #f0f0f0;}
.favorite_ul li{padding:5px 14px 5px 10px;text-indent:20px;color:#02998e;filter:alpha(opacity=40); -moz-opacity:0.4; -khtml-opacity: 0.4; opacity: 0.4;background:url(../img/cookpoint.png) no-repeat 7px 8px;}
.favorite_ul li:hover{filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1; opacity: 1;background:#f9f9f9 url(../img/cookpoint.png) no-repeat 7px 8px;}

.cook_ul li{padding:5px 14px 5px 10px;text-indent:20px;color:#02998e;filter:alpha(opacity=40); -moz-opacity:0.4; -khtml-opacity: 0.4; opacity: 0.4;background:url(../img/hostory-icon.png) no-repeat 7px 8px;}
.cook_ul li:hover{filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1; opacity: 1;background:#f9f9f9 url(../img/hostory-icon.png) no-repeat 7px 8px;}

.search-hint{width:300px;height:155px;box-shadow: 0px 0px 15px #999;z-index: 1000; background: #fff; top: 33px; left:185px;border-radius:5px;}
.search-hint h4{height:43px;line-height:43px;font-size:16px;color:#000;background:#f8f8f8;}    
.search-hint p{margin-top: 33px;color:#000}
.search-hint .c-word{color:#444;}
.search-hint .c-word span{color:#02998e}
.search-hint h4 img{
    top: 15px;
    right: 10px;
    opacity: .4;	
}
    
/* 主体 */
.cardContainer{
    position:relative;
    width:310px;
    height:150px;
    background-color:#fff;
    border-radius:5px;
    overflow:hidden;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}
.cardTitle{
    height:41px;
    padding:0 6px;
    line-height:40px;
    box-sizing: border-box;
    border-bottom:1px solid #F0F0F0;
}
.hotImg{
    float: left;
    width:30px;
    height:30px;
    border-radius:50%;
    background-color: #456;
    margin-top:5px;
    margin-right:5px;
}
.hotTitle{
    float: left;
    width:162px;
    height:18px;
    line-height:18px;
    font-size:18px;
    font-weight: bold;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top:11px;
    margin-right:5px;
}
.related{
    opacity:0.4;
    float: left;
    height:14px;
    font-size:14px;
    line-height:14px;
    cursor: pointer;
    margin-top:15px;
}
.related img{
    vertical-align:top;
}
.related:hover{
    opacity: 1;
}
.cardTag{
    position: absolute;
    display: inline-block;
    top:6px;
    right:-19px;
    transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    width: 70px;
    height: 22px;
    line-height: 22px;
    font-size:12px;
    color:#fff;
    text-align: center;
}
.labelColor1{
    background-color: #ca9a6b;
}
.labelColor2{
    background-color: #659dd1;
}
.labelColor3{
    background-color: #e8723d;
}
.hotInfo{
    height:77px;
    border-bottom:1px solid #F0F0F0;
    padding: 16px 14px;
    box-sizing: border-box;
    font-size: 14px;   
    color:rgba(0,0,0,0.4);        
}        
.hotInfo span{
    color:#000;
}
.talkTime{
    vertical-align: middle;
}
.relevance{
    margin-top:12px
}
.hotOp{
    display:flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display:-webkit-flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
    padding-top:7px;
    padding-left:14px;
    box-sizing: border-box;
}
.opa04{
    opacity:0.4;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -o-flex-grow: 1;
    -ms-flex-grow: 1;
    cursor: pointer;
    transition:opacity .1s linear;
}
.opa04:hover{
    opacity:1;
}
.concern img{
    position:relative;
    top:-1px;
}
.recommend-hot{text-indent:20px;margin-right:20px;background:url(../img/recommend-hot.png) no-repeat 0 1px;}
.my-fouce{text-indent:20px;background:url(../img/my-fouce.png) no-repeat 0 0;}
.change-c{text-indent:20px;background:url(../img/change-c.png) no-repeat 0 0;}
/* 热点预算日历 */
.pnl-predict{
	width:220px;
	float:right;
}
.pnl-predict .predict-title{
	font-size:14px;
	font-family:"微软雅黑";
	color:#000;
	line-height:14px;
	margin-bottom:15px;
	background:url(../img/compass.png) no-repeat 5px center;
	padding-left:26px;
}
.pnl-predict .pnl-calendar{
	width:100%;
	height:204px;
	background:#fff;
    -webkit-border-radius:5px 5px 0 0 ;
    -moz-border-radius:5px 5px 0 0 ;
    -o-border-radius:5px 5px 0 0 ;
    border-radius:5px 5px 0 0 ;
}
.pnl-predict .pnl-hots{
	width:100%;
	height:98px;
	background:#fbfbfb;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-o-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}
.pnl-predict .pnl-hots .hots-title{
	font-size:16px;
    font-family:"微软雅黑";
    color:#02998e;
    line-height:16px;
    text-align:center;
    padding:21px 0;
}
.pnl-predict .pnl-hots .hots-list{
    padding:0 0px 0 14px;
}
.pnl-predict .pnl-hots .hots-list li{
    float:left;
    height:26px;
    line-height:24px;
    border:1px solid #f0f0f0;
    text-align:center;
    margin-left:12px;
    padding:0 6px;
}
.pnl-predict .pnl-hots .hots-list li a{
    font-size:12px;
    font-family:"微软雅黑";
    color:#9c9c9c;
}
.releateTag{
    height: 38px;
    line-height: 38px;
    width:136px;
    font-size: 16px;
    padding-left:10px;
    vertical-align: top;
}
.selectTag{
    display: inline-block;
    width:136px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    background-color: #ececec;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}
/*换一批*/
.recommendTitle{
    width:950px;
    height:14px;
    margin-bottom:15px;
}
.recommendTitle li{
    line-height:14px;
    font-size:14px;
    font-family:"微软雅黑";
    color:#000;
}
