@CHARSET "UTF-8";
@media screen and (max-width:1340px ) {
    body{min-width: 1220px;overflow-x: auto!important;}
}  
.nav-menu-ul li:nth-child(11) a {
    background: #222;
    }
body {font-family: "Microsoft YaHei";}
.result-section{
	padding:48px 62px 0px 50px;
}
.result-section-img{
	width:258px;height:27px;background:url(../img/hotspotstitle.png) no-repeat;margin-top:9px;
}
.search-input {
    width: 581px;
    height: 44px;
    border: 0;
    border-radius: 5px;
    color: #444;
    font-size: 14px;
    padding-left: 10px;
}

.search-btn {
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    height: 44px;
    width: 76px;
    margin-left: 10px;
    background: #02998e;
    vertical-align: bottom;
    line-height: 44px;
}


.search-btn span {
    color: #fff;
    display: inline-block;
}
.color9c{color:#9c9c9c;}
.nav-banner{margin-top:22px;padding:18px 0 21px 0;border-top:1px solid #d8d8d8;font-size:14px;margin-bottom:21px;}
.nav-banner-ul li{float:left;margin-left:30px;}
.correlation{padding-right:42px;background:url(../img/correlation.png) no-repeat  right 3px;}
.changeviewpoints{padding-left:22px;background:url(../img/changeviewpoints.png) no-repeat  left 3px;}
.filtrate{padding-left:22px;background:url(../img/filtrate.png) no-repeat  left 3px;}
.hotup{padding-left:19px;background:url(../img/hotup.png) no-repeat  left 2px;}
.hotdown{padding-left:19px;background:url(../img/hotdpwn.png) no-repeat  left 2px;}
/*探索结果弹窗*/
.search-hint{width:300px;height:155px;box-shadow: 0px 0px 15px #999;z-index: 1000; background: #fff; top: 33px; left:185px;border-radius:5px;}
.search-hint h4{height:43px;line-height:43px;font-size:16px;color:#000;background:#f8f8f8;}    
.search-hint p{margin-top: 33px;color:#000}
.search-hint .c-word{color:#444;}
.search-hint .c-word span{color:#02998e}
.search-hint h4 img{
    top: 15px;
    right: 10px;
    opacity: .4;	
}

/* 弹窗 */

.cardContainer{
	box-shadow: 0px 1px 3px 2px rgba(14, 5, 10, 0.25);  
    width:310px;
    height:198px;
    background-color:#fff;
    border-radius:5px;
    overflow:hidden;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}
.cardTitle{ 
    height:41px;
    padding:6px;
    line-height:40px;
    box-sizing: border-box;
    border-bottom:1px solid #F0F0F0;
}
.hotImg{
    display: inline-block;
    width:30px;
    height:30px;
    border-radius:50%;
    background-color: #456;
}
.hotTitle{
    display: inline-block;
    width:162px;
    height:30px;
    line-height:30px;
    font-size:18px;
    font-weight: bold;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.related{
    opacity:0.4;
    display:inline-block;
    height:30px;
    font-size:14px;
    line-height:22px;
    vertical-align:text-bottom;
    cursor: pointer;
}
.related:hover{
    opacity: 1;
}
.cardTag{
    position: absolute;
    display: inline-block;
    top:6px;
    right:-19px;
    transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    width: 70px;
    height: 22px;
    line-height: 22px;
    font-size:12px;
    color:#fff;
    background-color: #ca9a6b;
    text-align: center;
}
.hotInfo{
    height:123px;
    border-bottom:1px solid #F0F0F0;
    padding: 16px 14px;
    box-sizing: border-box;
    font-size: 14px;   
    color:rgba(0,0,0,0.4);        
}        
.hotInfo span{
    color:#000;
}
.talkTime{
    vertical-align: middle;
}
.relevance{
    margin-top:12px
}
.hotOp{
    display:flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;
    display:-webkit-flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
    padding-top:7px;
    padding-left:14px;
    box-sizing: border-box;
}
.opa04{
    opacity:0.4;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -o-flex-grow: 1;
    -ms-flex-grow: 1;
    cursor: pointer;
    transition:opacity .1s linear;
}
.opa04:hover{
    opacity:1;
}
.concern img{
    position:relative;
    top:-1px;
}
.tip-bottom{padding:16px 0px 22px;margin-top:100px;}
.tip-bottom p {width:284px;margin:0 auto;background:url(../img/result-pointer.png) no-repeat;}

/*搜索结果*/
#canvas {
    width: 989px;
    height: 420px;
    margin: 20px auto;
    background: url(../img/result-bg.png) no-repeat center -3px;
    position: relative
}

.word {
    font-family: "微软雅黑";
    color: #fff;
    font-size: 18px;
    position: absolute;
    left: 494.5px;
    top: 210px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.topic {
    font-family: "微软雅黑";
    color: #444;
    position: absolute;
    opacity: 0;
    cursor:pointer;
}
.topic .icon {
    border-radius: 50%;
    background-color: #787878;
    display: block;
    margin: 0 auto 5px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.topic .link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.circle-up .icon {
    background-image: url(../img/circle-up.png);
}

.circle-down .icon {
    background-image: url(../img/circle-down.png);
}

.circle-up:hover {
    color: #fe7200;
}

.circle-down:hover {
    color: #69c668;
}

.circle-up:hover .icon {
    background-color: #fe7200;
}

.circle-down:hover .icon {
    background-color: #69c668;
}

.fontClass1 {
    font-size: 12px;
}

.fontClass2 {
    font-size: 14px;
}

.fontClass3 {
    font-size: 16px;
}

.fontClass4 {
    font-size: 18px;
}

.sizeClass1 {
    width: 15px;
    height: 15px;
}

.sizeClass2 {
    width: 20px;
    height: 20px;
}

.sizeClass3 {
    width: 25px;
    height: 25px;
}

.sizeClass4 {
    width: 30px;
    height: 30px;
}
.wordblack{color:#000;}
.wordwidth{width:65px;text-align:center}