<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.dao.DFilmMapper">
    <resultMap id="BaseResultMap" type="com.zc.bean.DFilm">
                                    <id column="id" jdbcType="INTEGER" property="id"/>
                                                <result column="filmno" jdbcType="INTEGER" property="filmNo"/>
                                                <result column="name" jdbcType="VARCHAR" property="name"/>
                                                <result column="areatime" jdbcType="VARCHAR" property="areaTime"/>
                        </resultMap>
    <sql id="Base_Column_List">
         id,  filmno,  name,  areatime     </sql>
    <insert id="add" parameterType="com.zc.bean.DFilm"
            useGeneratedKeys="true" keyProperty="id">
        insert into d_film
        <trim prefix="(" suffix=")" suffixOverrides=",">
                            <if test="filmNo != null">
                    filmno,
                </if>
                            <if test="name != null">
                    name,
                </if>
                            <if test="areaTime != null">
                    areatime,
                </if>
                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                            <if test="filmNo != null">
                    #{filmNo,jdbcType=INTEGER},
                </if>
                            <if test="name != null">
                    #{name,jdbcType=VARCHAR},
                </if>
                            <if test="areaTime != null">
                    #{areaTime,jdbcType=VARCHAR},
                </if>
                    </trim>
    </insert>
    <delete id="del" parameterType="java.lang.Integer">
        delete from d_film
        where id =
        #{id,jdbcType= INTEGER}
    </delete>
    <update id="update" parameterType="com.zc.bean.DFilm">
        update d_film
        <set>
                            <if test="filmNo != null">
                    filmno = #{filmNo,jdbcType=INTEGER},
                </if>
                            <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                            <if test="areaTime != null">
                    areatime = #{areaTime,jdbcType=VARCHAR},
                </if>
                    </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_film
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>