<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.dao.TopicDao">
    <resultMap id="BaseResultMap" type="com.zc.bean.Topic">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="readnum" jdbcType="VARCHAR" property="readNum"/>
        <result column="topicurl" jdbcType="VARCHAR" property="topicUrl"/>
        <result column="keywords" jdbcType="VARCHAR" property="keywords"/>
        <result column="coordinate" jdbcType="VARCHAR" property="coordinate"/>
        <result column="logourl" jdbcType="VARCHAR" property="logoUrl"/>
        <result column="readnumtrendgrowth" jdbcType="INTEGER" property="readNumTrendGrowth"/>
        <result column="relationdesc" jdbcType="VARCHAR" property="relationDesc"/>
        <result column="topictype" jdbcType="VARCHAR" property="topicType"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="topic_region" jdbcType="VARCHAR" property="topicRegion"/>
        <result column="labels" jdbcType="VARCHAR" property="labels"/>
        <result column="id_backup" jdbcType="INTEGER" property="idBackup"/>
        <result column="logo_img_url" jdbcType="VARCHAR" property="logoImgUrl"/>
        <result column="logo_img_url_local" jdbcType="VARCHAR" property="logoImgUrlLocal"/>
        <result column="prevailing_trend" jdbcType="VARCHAR" property="prevailingTrend"/>
        <result column="wechat_url" jdbcType="VARCHAR" property="wechatUrl"/>
        <result column="wechat_title" jdbcType="VARCHAR" property="wechatTitle"/>
        <result column="wechat_avg_read_num" jdbcType="INTEGER" property="wechatAvgReadNum"/>
        <result column="baidu_title" jdbcType="VARCHAR" property="baiduTitle"/>
        <result column="baidu_url" jdbcType="VARCHAR" property="baiduUrl"/>
        <result column="baidu_hit_num" jdbcType="INTEGER" property="baiduHitNum"/>
        <result column="zhihu_title" jdbcType="VARCHAR" property="zhihuTitle"/>
        <result column="zhihu_url" jdbcType="VARCHAR" property="zhihuUrl"/>
        <result column="zhihu_avg_answer_number" jdbcType="INTEGER" property="zhihuAvgAnswerNumber"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,  title,  readnum,  topicurl,  keywords,  coordinate,  logourl,  readnumtrendgrowth,  relationdesc,  topictype,  introduction,  topic_region,  labels,  id_backup,  logo_img_url,  logo_img_url_local,  prevailing_trend,  wechat_url,  wechat_title,  wechat_avg_read_num,  baidu_title,  baidu_url,  baidu_hit_num,  zhihu_title,  zhihu_url,  zhihu_avg_answer_number     </sql>
    <insert id="add" parameterType="com.zc.bean.Topic"
            useGeneratedKeys="true" keyProperty="id">
        insert into topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="readNum != null">
                readnum,
            </if>
            <if test="topicUrl != null">
                topicurl,
            </if>
            <if test="keywords != null">
                keywords,
            </if>
            <if test="coordinate != null">
                coordinate,
            </if>
            <if test="logoUrl != null">
                logourl,
            </if>
            <if test="readNumTrendGrowth != null">
                readnumtrendgrowth,
            </if>
            <if test="relationDesc != null">
                relationdesc,
            </if>
            <if test="topicType != null">
                topictype,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="topicRegion != null">
                topic_region,
            </if>
            <if test="labels != null">
                labels,
            </if>
            <if test="idBackup != null">
                id_backup,
            </if>
            <if test="logoImgUrl != null">
                logo_img_url,
            </if>
            <if test="logoImgUrlLocal != null">
                logo_img_url_local,
            </if>
            <if test="prevailingTrend != null">
                prevailing_trend,
            </if>
            <if test="wechatUrl != null">
                wechat_url,
            </if>
            <if test="wechatTitle != null">
                wechat_title,
            </if>
            <if test="wechatAvgReadNum != null">
                wechat_avg_read_num,
            </if>
            <if test="baiduTitle != null">
                baidu_title,
            </if>
            <if test="baiduUrl != null">
                baidu_url,
            </if>
            <if test="baiduHitNum != null">
                baidu_hit_num,
            </if>
            <if test="zhihuTitle != null">
                zhihu_title,
            </if>
            <if test="zhihuUrl != null">
                zhihu_url,
            </if>
            <if test="zhihuAvgAnswerNumber != null">
                zhihu_avg_answer_number,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="readNum != null">
                #{readNum,jdbcType=VARCHAR},
            </if>
            <if test="topicUrl != null">
                #{topicUrl,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="coordinate != null">
                #{coordinate,jdbcType=VARCHAR},
            </if>
            <if test="logoUrl != null">
                #{logoUrl,jdbcType=VARCHAR},
            </if>
            <if test="readNumTrendGrowth != null">
                #{readNumTrendGrowth,jdbcType=INTEGER},
            </if>
            <if test="relationDesc != null">
                #{relationDesc,jdbcType=VARCHAR},
            </if>
            <if test="topicType != null">
                #{topicType,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="topicRegion != null">
                #{topicRegion,jdbcType=VARCHAR},
            </if>
            <if test="labels != null">
                #{labels,jdbcType=VARCHAR},
            </if>
            <if test="idBackup != null">
                #{idBackup,jdbcType=INTEGER},
            </if>
            <if test="logoImgUrl != null">
                #{logoImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="logoImgUrlLocal != null">
                #{logoImgUrlLocal,jdbcType=VARCHAR},
            </if>
            <if test="prevailingTrend != null">
                #{prevailingTrend,jdbcType=VARCHAR},
            </if>
            <if test="wechatUrl != null">
                #{wechatUrl,jdbcType=VARCHAR},
            </if>
            <if test="wechatTitle != null">
                #{wechatTitle,jdbcType=VARCHAR},
            </if>
            <if test="wechatAvgReadNum != null">
                #{wechatAvgReadNum,jdbcType=INTEGER},
            </if>
            <if test="baiduTitle != null">
                #{baiduTitle,jdbcType=VARCHAR},
            </if>
            <if test="baiduUrl != null">
                #{baiduUrl,jdbcType=VARCHAR},
            </if>
            <if test="baiduHitNum != null">
                #{baiduHitNum,jdbcType=INTEGER},
            </if>
            <if test="zhihuTitle != null">
                #{zhihuTitle,jdbcType=VARCHAR},
            </if>
            <if test="zhihuUrl != null">
                #{zhihuUrl,jdbcType=VARCHAR},
            </if>
            <if test="zhihuAvgAnswerNumber != null">
                #{zhihuAvgAnswerNumber,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <delete id="del" parameterType="java.lang.Integer">
        delete from topic
        where id =
        #{id,jdbcType= INTEGER}
    </delete>
    <update id="update" parameterType="com.zc.bean.Topic">
        update topic
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="readNum != null">
                readnum = #{readNum,jdbcType=VARCHAR},
            </if>
            <if test="topicUrl != null">
                topicurl = #{topicUrl,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                keywords = #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="coordinate != null">
                coordinate = #{coordinate,jdbcType=VARCHAR},
            </if>
            <if test="logoUrl != null">
                logourl = #{logoUrl,jdbcType=VARCHAR},
            </if>
            <if test="readNumTrendGrowth != null">
                readnumtrendgrowth = #{readNumTrendGrowth,jdbcType=INTEGER},
            </if>
            <if test="relationDesc != null">
                relationdesc = #{relationDesc,jdbcType=VARCHAR},
            </if>
            <if test="topicType != null">
                topictype = #{topicType,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="topicRegion != null">
                topic_region = #{topicRegion,jdbcType=VARCHAR},
            </if>
            <if test="labels != null">
                labels = #{labels,jdbcType=VARCHAR},
            </if>
            <if test="idBackup != null">
                id_backup = #{idBackup,jdbcType=INTEGER},
            </if>
            <if test="logoImgUrl != null">
                logo_img_url = #{logoImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="logoImgUrlLocal != null">
                logo_img_url_local = #{logoImgUrlLocal,jdbcType=VARCHAR},
            </if>
            <if test="prevailingTrend != null">
                prevailing_trend = #{prevailingTrend,jdbcType=VARCHAR},
            </if>
            <if test="wechatUrl != null">
                wechat_url = #{wechatUrl,jdbcType=VARCHAR},
            </if>
            <if test="wechatTitle != null">
                wechat_title = #{wechatTitle,jdbcType=VARCHAR},
            </if>
            <if test="wechatAvgReadNum != null">
                wechat_avg_read_num = #{wechatAvgReadNum,jdbcType=INTEGER},
            </if>
            <if test="baiduTitle != null">
                baidu_title = #{baiduTitle,jdbcType=VARCHAR},
            </if>
            <if test="baiduUrl != null">
                baidu_url = #{baiduUrl,jdbcType=VARCHAR},
            </if>
            <if test="baiduHitNum != null">
                baidu_hit_num = #{baiduHitNum,jdbcType=INTEGER},
            </if>
            <if test="zhihuTitle != null">
                zhihu_title = #{zhihuTitle,jdbcType=VARCHAR},
            </if>
            <if test="zhihuUrl != null">
                zhihu_url = #{zhihuUrl,jdbcType=VARCHAR},
            </if>
            <if test="zhihuAvgAnswerNumber != null">
                zhihu_avg_answer_number = #{zhihuAvgAnswerNumber,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from topic
        where id = #{id,jdbcType=INTEGER}
    </select>


    <select id="getItemCount" resultType="java.lang.Integer">
        select count(1) from
       topic
    </select>
    <select id="getList" resultMap="BaseResultMap">
        Select * from
       topic
        order by id
        LIMIT
        #{rowStart,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    <select id="getTopicWordList" resultMap="BaseResultWordMap">
        Select 1 AS datatype,
        <include refid="Base_Column_List"></include>
        from
        topic
        order by id
        LIMIT
        #{rowStart,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    <resultMap id="BaseResultWordMap" type="com.zc.bean.Topic">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="coordinate" jdbcType="VARCHAR" property="coordinate"/>
        <result column="keywords" jdbcType="VARCHAR" property="keywords"/>
        <result column="logourl" jdbcType="VARCHAR" property="logoUrl"/>
        <result column="readnum" jdbcType="VARCHAR" property="readNum"/>
        <result column="readnumtrendgrowth" jdbcType="VARCHAR"
                property="readNumTrendGrowth"/>
        <result column="relationdesc" jdbcType="VARCHAR"
                property="relationDesc"/>
        <result column="topicurl" jdbcType="VARCHAR" property="topicUrl"/>
        <result column="topictype" jdbcType="VARCHAR" property="topicType"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>

        <!-- <collection property="words" ofType="com.zc.bean.WordDataRelations"> 
            id用于定义主表的唯一标识，是从表识别主表主键的唯一标识，column是结果集对应的字段名 <id property="id" column="id" 
            /> result是普通属性，其他解释同上 <result property="word" column="word" /> </collection> -->
        <collection property="words" ofType="com.zc.bean.WordDataRelations"
                    column="{datatype=datatype,dataid=id}" select="com.zc.dao.WordDataRelationsDao.get">
            <id property="id" column="id"/>
            <result column="wordid" property="wordId"></result>
            <result column="score" property="score"></result>
            <association property="word" javaType="com.zc.bean.Word"
                         column="wordId" select="com.zc.dao.WordDao.get"/>
        </collection>

    </resultMap>
    <update id="batchUpdate">
        <foreach collection="list" item="item" index="index"
                 separator=";">
            update
            topic
            <set>
                coordinate='${item.coordinate}'
            </set>
            where id =${item.id}
        </foreach>
    </update>
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into
        topic
        (
        <include refid="Base_Column_List"/>
        )
        values
        <foreach collection="list" item="item" index="i"
                 separator=",">
            (
            <choose>
                <when test="item.id==null">null
                </when>
                <when test="item.id!=null">'${item.id}'
                </when>
            </choose>
            ,
            <choose>
                <when test="item.title==null">null
                </when>
                <when test="item.title!=null">'${item.title}'
                </when>
            </choose>
            ,
            <choose>
                <when test="item.coordinate==null">null
                </when>
                <when test="item.coordinate!=null">'${item.coordinate}'
                </when>
            </choose>
            ,
            <choose>
                <when test="item.keywords==null">null
                </when>
                <when test="item.keywords!=null">'${item.keywords}'
                </when>
            </choose>

            <choose>
                <when test="item.logoUrl==null">null
                </when>
                <when test="item.logoUrl!=null">'${item.logoUrl}'
                </when>
            </choose>
            ,
            <choose>
                <when test="item.readNum==null">null
                </when>
                <when test="item.readNum!=null">'${item.readNum}'
                </when>
            </choose>
            ,
            <choose>
                <when test="item.readNumTrendGrowth==null">null
                </when>
                <when test="item.readNumTrendGrowth!=null">'${item.readNumTrendGrowth}'
                </when>
            </choose>
            ,
            <choose>
                <when test="item.relationDesc==null">null
                </when>
                <when test="item.relationDesc!=null">'${item.relationDesc}'
                </when>
            </choose>
            <choose>
                <when test="item.topicUrl==null">null
                </when>
                <when test="item.topicUrl!=null">'${item.topicUrl}'
                </when>
            </choose>
            ,
            <choose>
                <when test="item.topicType==null">null
                </when>
                <when test="item.topicType!=null">'${item.topicType}'
                </when>
            </choose>
            ,
            <choose>
                <when test="item.introduction==null">null
                </when>
                <when test="item.introduction!=null">'${item.introduction}'
                </when>
            </choose>
            )
        </foreach>
    </insert>
    <select id="getAllCoordinates" resultType="java.util.HashMap">
        SELECT id AS id, coordinate AS coordinate FROM topic
    </select>
    <select id="getByIdList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM topic
        WHERE id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>