<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.dao.WeiboDao">
    <resultMap id="BaseResultMap" type="com.zc.bean.Weibo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="topicid" jdbcType="INTEGER" property="topicId"/>
        <result column="weibo_content" jdbcType="VARCHAR" property="weiboContent"/>
        <result column="keywords" jdbcType="VARCHAR" property="keywords"/>
        <result column="coordinate" jdbcType="VARCHAR" property="coordinate"/>
        <result column="readnum" jdbcType="VARCHAR" property="readNum"/>
        <result column="readnumtrendgrowth" jdbcType="SMALLINT"
                property="readNumTrendGrowth"/>
        <result column="weibourl" jdbcType="VARCHAR" property="weiboUrl"/>
    </resultMap>
    <sql id="uniqueQuery">id = #{id,jdbcType=INTEGER}</sql>
    <sql id="tableName">weibo</sql>
    <sql id="Base_Column_List">
        id, topicid,
        weibo_content,keywords,coordinate,readnum,readnumtrendgrowth,weibourl
    </sql>
    <sql id="checkColumnNull">
        <if test="id != null">
            id,
        </if>
        <if test="topicId != null">
            topicid,
        </if>
        <if test="weiboContent != null">
            weibo_content,
        </if>
        <if test="keywords != null">
            keywords,
        </if>
        <if test="coordinate != null">
            coordinate,
        </if>
        <if test="readNum != null">
            readnum,
        </if>
        <if test="readNumTrendGrowth != null">
            readnumtrendgrowth,
        </if>
        <if test="weiboUrl != null">
            weibourl
        </if>
    </sql>
    <sql id="checkPropertyNull">
        <if test="topicId != null">
            topicid = #{topicId, jdbcType=INTEGER},
        </if>
        <if test="weiboContent != null">
            weibo_content = #{weiboContent, jdbcType=VARCHAR},
        </if>
        <if test="keywords != null">
            keywords = #{keywords, jdbcType=VARCHAR},
        </if>
        <if test="coordinate != null">
            coordinate = #{coordinate, jdbcType=VARCHAR},
        </if>
        <if test="readNum != null">
            readNum = #{readNum, jdbcType=VARCHAR},
        </if>
        <if test="readNumTrendGrowth != null">
            readnumtrendgrowth = #{readNumTrendGrowth, jdbcType=SMALLINT},
        </if>
        <if test="weiboUrl != null">
            weibourl = #{weiboUrl, jdbcType=VARCHAR}
        </if>
    </sql>
    <insert id="add" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.zc.bean.Topic">
        insert into
        <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="checkColumnNull"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="checkPropertyNull"/>
        </trim>
    </insert>

    <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        where
        <include refid="uniqueQuery"/>
    </select>
    <select id="getItemCount" resultType="java.lang.Integer">
        select count(1) from
        <include refid="tableName"></include>
    </select>
    <select id="getList" resultMap="BaseResultMap">
        Select * from
        <include refid="tableName"></include>
        order by id
        LIMIT
        #{rowStart,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    <delete id="del" parameterType="java.lang.Integer">
        delete from
        <include refid="tableName"/>
        where
        <include refid="uniqueQuery"/>
    </delete>
    <update id="update" parameterType="com.zc.bean.Weibo">
        update
        <include refid="tableName"/>
        <set>
            <include refid="checkPropertyNull"/>
        </set>
        WHERE
        <include refid="uniqueQuery"/>
    </update>
    <select id="getAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM
        <include refid="tableName"></include>
        LIMIT 1500;
    </select>
</mapper>