<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.dao.WordDataRelationsDao">
    <resultMap id="BaseResultMap" type="com.zc.bean.WordDataRelations">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="wordid" jdbcType="INTEGER" property="wordId" />
        <result column="datatype" jdbcType="SMALLINT" property="dataType" />
        <result column="dataid" jdbcType="INTEGER" property="dataId" />
        <result column="score" jdbcType="FLOAT" property="score" />
    </resultMap>
    <sql id="uniqueQuery">id =#{id,jdbcType=INTEGER}</sql>
    <sql id="tableName">worddatarelations</sql>
    <sql id="Base_Column_List">
        id, wordid,datatype,dataid,score
    </sql>
    <sql id="checkColumnNull">
        <if test="id != null">
            id,
        </if>
        <if test="wordid != null">
            wordid,
        </if>
        <if test="datatype != null">
            datatype,
        </if>
        <if test="dataid != null">
            dataid,
        </if>
        <if test="score != null">
            score
        </if>
    </sql>
    <sql id="checkPropertyNull">
        <if test="id != null">
            #{id,jdbcType=INTEGER},
        </if>
        <if test="wordid != null">
            #{wordid,jdbcType=INTEGER},
        </if>
        <if test="datatype != null">
            #{datatype,jdbcType=SMALLINT}
        </if>
        <if test="dataid != null">
            #{dataid,jdbcType=INTEGER}
        </if>
        <if test="score != null">
            #{score,jdbcType=FLOAT}
        </if>
    </sql>
    <insert id="add" useGeneratedKeys="true" keyProperty="id"
        parameterType="com.zc.bean.Topic">
        insert into
        <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="checkColumnNull" />
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="checkPropertyNull" />
        </trim>
    </insert>

    <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from
        <include refid="tableName" />
        where
        <include refid="uniqueQuery" />
    </select>
    <select id="getItemCount" resultType="java.lang.Integer">
        select count(1) from
        <include refid="tableName"></include>
    </select>
    <select id="getList" resultMap="BaseResultMap">
        Select * from
        <include refid="tableName"></include>
        order by id
        LIMIT
        #{rowStart,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </select>
    <delete id="del" parameterType="java.lang.Integer">
        delete from
        <include refid="tableName" />
        where
        <include refid="uniqueQuery" />
    </delete>
    <update id="update" parameterType="com.zc.bean.Topic">
        update
        <include refid="tableName" />
        <set>
            <include refid="checkPropertyNull" />
        </set>
        <include refid="uniqueQuery" />
    </update>
</mapper>